{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
{% block main_content %}

  <section id="intro" class="container px-4 my-4">
    {%  if document is defined %}
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>
          <a class="text-decoration-none" href="{{ path('documenti_list_cpsuser', {'folderId': document.folder.id}) }}">
            <svg class="icon icon-xl icon-primary">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-left"></use>
            </svg>
          </a>
          {{ document.title }}
        </h1>
        <p>{{ document.description }}</p>
      </div>
      <div class="col-12 px-lg-4 py-lg-2 my-5">
        <table id="folders_table" class="table border-bottom">
            <tr>
              <td>
                <div class="col-10">
                  {% if document.recipientType == 'tenant' %}
                    <svg class="icon mr-4">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
                    </svg>
                  {% else  %}
                    <svg class="icon mr-4">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-clip"></use>
                    </svg>
                  {% endif %}
                  {{document.originalFileName}}
                </div>
              </td>
              <td>
                <div class="col-2 float-right">
                    <a id="downloadDocument" href="{{ path('document_download_cpsuser', {'folderId':document.folder.id, 'documentId': document.id}) }}" download>
                      <svg class="icon icon-primary">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
                      </svg>
                    </a>
                </div>
              </td>
            </tr>
          <tr>
            <td><strong>{{'documenti.documento.data_creazione' | trans}}</strong></td>
            <td>{{ document.createdAt | date('d/m/Y') }}</td>
          </tr>
          <tr>
            <td><strong>{{'documenti.documento.data_scadenza' | trans}}</strong></td>
            <td>
              {%  if document.expireAt %}
                {{ document.expireAt | date('d/m/Y') }}
              {% else %}
                ---
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="align-middle"><strong>{{'documenti.documento.servizi_correlati' | trans}}</strong></td>
            <td>
              {% for service in document.correlatedServices %}
                <div><a href="{{ path('servizi_show', {'slug': service.slug}) }}">{{ service.name }}</div>
              {% endfor %}
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% endif %}
  </section>
{% endblock %}

