{% extends 'auth.html.twig' %}

{% block body_id 'reset' %}
{% block title 'Reimposta password' %}

{% block left %}
  <div class="nk-block-head">
    <div class="nk-block-head-content">
      <h5 class="nk-block-title fw-normal">Problemi di accesso?</h5>
      <div class="nk-block-des">
        <p>Inserisci il tuo indirizzo e-mail e ti invieremo un link per accedere di nuovo al tuo account.</p>
      </div>
    </div>
  </div><!-- .nk-block-head -->

  {{ include('default/_flash_messages.html.twig') }}

  {% form_theme form 'form/custom_types.html.twig' %}
  {{ form_start(form, { 'attr' : { 'class': 'form-validate is-alter' } }) }}

  <div class="form-row">
    <div class="form-group col-12">
      {{ form_label(form.email, null, {
        'label': 'E-mail associata all\'account',
        'label_attr': {'class': 'form-label'}
      }) }}
      <div class="form-control-wrap">
        {{ form_widget(form.email, {
          'attr': {'class': 'form-control-lg'}
        }) }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <div class="form-group">
        <button type="submit" class="btn-primary btn-lg btn-block btn">Invia link</button>
      </div>
    </div>
  </div>

  {{ form_end(form) }}

  <div class="form-note-s2 pt-3"> <a
      href="{{ url('security_login') }}"><strong>Torna al login</strong></a>
  </div>
{% endblock %}
