{% extends 'auth.html.twig' %}

{% block body_id 'reset-confirm' %}
{% block title 'Modifica password' %}

{% block left %}
  <div class="nk-block-head">
    <div class="nk-block-head-content">
      <h5 class="nk-block-title fw-normal">Modifica password</h5>
      <div class="nk-block-des">
        <p>Inserisci una nuova password.</p>
      </div>
    </div>
  </div><!-- .nk-block-head -->

  {{ include('default/_flash_messages.html.twig') }}

  {% form_theme form 'form/custom_types.html.twig' %}
  {{ form_start(form, { 'attr' : { 'class': 'form-validate is-alter' } }) }}

  <div class="form-row">
    <div class="form-group col-12">
      {{ form_label(form.plainPassword.first, null, {
        'label': 'Password',
        'label_attr': {'class': 'form-label'}
      }) }}
      <div class="form-control-wrap">
        <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch"
           data-target="new_password_plainPassword_first">
          <em class="passcode-icon icon-show icon ni ni-eye"></em>
          <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
        </a>
        {{ form_widget(form.plainPassword.first, {
          'attr': {'class': 'form-control-lg'}
        }) }}
      </div>
    </div>
    <div class="form-group col-12">
      {{ form_label(form.plainPassword.second, null, {
        'label': 'Conferma password',
        'label_attr': {'class': 'form-label'}
      }) }}
      <div class="form-control-wrap">
        <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch"
           data-target="new_password_plainPassword_second">
          <em class="passcode-icon icon-show icon ni ni-eye"></em>
          <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
        </a>
        {{ form_widget(form.plainPassword.second, {
          'attr': {'class': 'form-control-lg'}
        }) }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <div class="form-group">
        <button type="submit" class="btn-primary btn-lg btn-block btn">Imposta</button>
      </div>
    </div>
  </div>

  {{ form_end(form) }}

  <div class="form-note-s2 pt-5"> Hai già un profilo? <a
      href="{{ url('security_register') }}"><strong>Registrati</strong></a><br>
    Password dimenticata? <a href="{{ url('reset_password') }}"><strong>Recupera</strong></a>
  </div>
{% endblock %}
