{% extends '@App/Default/index.html.twig' %}
{% block title %}{{ servizio.name }} - Stanza del cittadino{% endblock %}
{% set ente = instance_service.getCurrentInstance() %}
{% set logo = ente.getMetaAsArray('logo') ? ente.getMetaAsArray('logo') :  absolute_url(asset('bundles/app/images/logo-default.png')) %}
{% set metaContacts = ente.getMetaAsArray('contacts') ? ente.getMetaAsArray('contacts') : null %}

{% block head %}
  {{ parent() }}
  {{ include('@App/Servizi/parts/_json-ld.html.twig', {'servizio':servizio}) }}
{% endblock %}

{% block main_content %}


  <section class="container">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>{{ servizio.name }}</h1>
      </div>
      <div class="col-lg-8 px-lg-4 py-lg-2">

        {% if servizio.description|striptags|trim != '' %}
          <article class="mb-4">
            <h4>{{ 'servizio.cos_e' | trans }}</h4>
            {{ servizio.description|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.who|striptags|trim != '' %}
          <article class="mb-4">
            <h4>{{ 'servizio.a_chi_si_rivolge' | trans }}</h4>
            {{ servizio.who|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.coverage %}
          {% if servizio.coverage|length > 0 %}
            <article class="mb-4">
              <h4>{{ 'servizio.copertura' | trans }}</h4>
              {% for c in servizio.coverage %}
                <div class="text-sans-serif chip chip-lg mr-2 chip-simple chip-secondary">
                  <span class="chip-label">{{ c }}</span>
                </div>
              {% endfor %}
            </article>
          {% endif %}
        {% endif %}

        {% if servizio.recipients %}
          {% if servizio.recipients|length > 0 %}
            <article class="mb-4">
              <h4>{{ 'recipients.title' | trans }}</h4>
              {% for r in servizio.recipients %}
                <div class="chip chip-primary chip-lg mr-2">
                  <a href="{{ path('recipient_show', {'slug': r.slug}) }}" class="text-white"><span
                      class="chip-label">{{ r.name }}</span></a>
                </div>
              {% endfor %}
            </article>
          {% endif %}
        {% endif %}

        {% if servizio.howto|striptags|trim != '' %}
          <article class="mb-4">
            <h4>{{ 'servizio.accedere' | trans }}</h4>
            {{ servizio.howto|replace({'%comune%': instance_service.getCurrentInstance().name})|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.specialCases|striptags|trim != '' %}
          <article class="mb-4">
            <h4>{{ 'servizio.casi_particolari' | trans }}</h4>
            {{ servizio.specialCases|replace({'%comune%': instance_service.getCurrentInstance().name})|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.moreInfo|striptags|trim != '' %}
          <article class="mb-4">
            <h4>{{ 'servizio.maggiori_info' | trans }}</h4>
            {{ servizio.moreInfo|replace({'%comune%': instance_service.getCurrentInstance().name})|cleanMarkup|raw|nl2br }}
          </article>
        {% endif %}

        {% if servizio.additionalData and servizio.additionalData.urlModuloPrincipale is defined %}
          <br/>
          <div class="alert alert-info">
            <p>
              {# <a href="{{ servizio.additionalData.urlModuloPrincipale }}" download><b>Scarica il modulo da
                  compilare</b></a><br/> #}
              <a href="{{ servizio.additionalData.urlModuloPrincipale }}" download><b>Questo è il modulo
                  principale del servizio</b></a> e andrà compilato e caricato quando il sistema lo
              chiederà.
            </p>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-md-12">
            {# todo: usare constant() #}
            {% if not can_access %}
              <div class="alert alert-danger" role="alert">
                <i class="fa fa-times" aria-hidden="true"></i> {{ deny_access_message }}
              </div>
            {% else %}
              <div>
                {% set serviceUrl = path('pratiche_anonime_new', {'servizio': servizio.slug}) %}
                {% if servizio.accessLevel > 0 or servizio.accessLevel is null %}
                  {% set serviceUrl = path('pratiche_new', {'servizio': servizio.slug}) %}
                {% endif %}
                <p class="text-center">
                  <a href="{{ serviceUrl }}" class="btn btn-success btn-lg">
                    <span>{{ handler.callToActionText|trans({'%name%':null}) }}</span>
                  </a>
                </p>

                {% if servizio.enti|length > 1 %}
                  <div class="well well-sm text-left"><strong>{{ 'servizio.enti_coinvolti'|trans }}
                      :</strong>
                    <ul class="list-unstyled">
                      {% for ente in servizio.enti %}
                        <li>
                          <a href="{{ ente.siteUrl }}">
                            <small>{{ ente.name }}</small>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

              </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% if servizi_area|length > 0 and servizio.topics %}
        <div class="col-lg-4 pt-5 pt-lg-2 pl-lg-4">
          <div class="border-left border-light pl-5 pb-4">
            <h6>{% if servizio.topics %}Altri servizi disponibili in {{ "servizio.servizi_area_title"|trans({'%area%': servizio.topics.name}) }}{% endif %}</h6>
            <div class="link-list-wrapper">
              <ul class="link-list">
                {% for s in servizi_area %}
                  <li>
                    <a class="list-item icon-left pr-0{% if s.id == servizio.id %} active{% endif %}"
                       href="{{ path('servizi_show', {'slug': s.slug}) }}">
                      <svg class="icon icon-primary">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                      </svg>
                      <span style="line-height: 1.7">{{ s.name }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  </section>

{% endblock %}
