{% extends '@App/Default/index.html.twig' %}

{% block main_content %}

    {#<section id="intro" class="section container px-4 my-4">
        <div class="row">
            <div class="col-lg-8 px-lg-4 py-lg-2">
                <h1>Servizi</h1>
                <p>
                    {{ 'intro'|trans|raw }}
                </p>
            </div>
            <div class="col-lg-3 offset-lg-1 pt-5 pt-lg-2">
            </div>
        </div>
    </section>#}

    {% if sticky_services %}
        <section id="section container px-4 my-4">
            <div class="pb-5">
                <div class="container px-4">
                    <div class="row mt-5">
                        <div class="col">
                            <h3 class="mb-4 text-primary">{{ 'servizi_primo_piano'|trans() }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        {% for servizio in sticky_services %}
                            <div class="col-12">
                                {{ include('@App/Servizi/parts/panel/servizio_sticky.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section id="section container px-4 my-4">
        <div class="pb-5">
            <div class="container px-4">
                <div class="row mt-5">
                    <div class="col">
                        <h3 class="mb-4 text-primary">In evidenza</h3>
                    </div>
                </div>
                <div class="row">
                    {% for servizio in servizi %}
                        <div class="col-12 col-sm-6 col-lg-4">
                            {{ include('@App/Servizi/parts/panel/servizio.html.twig') }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {#<div class="row">
        <div class="col-sm-9">
            <h1>{{ 'esplora_i_servizi'|trans() }}</h1>
        </div>
        <div class="col-md-3 hidden-xs text-right">
            <p class="welcome">
                <a href="{{ path('servizi_miller') }}" class="btn btn-sm btn-info">
                    <i class="fa fa-columns" aria-hidden="true"></i> {{ 'visualizza_colonne'|trans }}
                </a>
            </p>
        </div>
    </div>#}


{% endblock %}
