{% extends '@App/Default/index.html.twig' %}
{% block title %}{{'nav.servizi'|trans()}} - Stanza del cittadino{% endblock %}
{% block main_content %}

  <section class="container">
    <div class="row">
      <div class="col-lg-8 px-lg-4 py-lg-2">
        <h1>{{ 'nav.servizi'|trans }}</h1>
        <div class="clearfix">
          <p>{{ 'servizio.sottotitolo_categorie'|trans }}</p>
        </div>
        {{ include('@App/Servizi/parts/_searchForm.html.twig') }}
      </div>
    </div>
  </section>

  {% if topics %}
    <section class="container py-5">
      <div class="row">
        {% for item in topics %}
          <div class="col-12 col-sm-6 col-lg-4">
            {{ include('@App/Servizi/parts/panel/topic.html.twig', {'item':item.object}) }}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

{% endblock %}
