{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    {% for key, configurations in parameters %}
      <div class="mb-4">
        <table class="table">
          <tr>
            <th colspan="2">{{ key }}</th>
          </tr>
          {% for name, value in configurations %}
            <tr>
              <td>{{ name }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

