{% if pratica.canBeAssigned %}
  <div class="row mb-5">
    {% if  pratica.status == constant('STATUS_REQUEST_INTEGRATION', pratica) %}
      <div class="col d-flex justify-content-center">
        <p>{{ 'operatori.protocollazione_richiesta_integrazione' | trans }}</p>
      </div>
    {% elseif  pratica.status == constant('STATUS_SUBMITTED_AFTER_INTEGRATION', pratica) %}
      <div class="col d-flex justify-content-center">
        <p>{{ 'operatori.protocollazione_risposta_integrazione' | trans }}</p>
      </div>
    {% elseif  pratica.status == constant('STATUS_DRAFT_FOR_INTEGRATION', pratica) %}
      <div class="col d-flex justify-content-center">
        <a href="{{ path('operatori_accept_integration', {'pratica': pratica}) }}" class="btn btn-outline-primary">
          <svg class="icon icon-success">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
          </svg>
          {{ 'operatori.chiudi_richiesta_integrazione' | trans }}
        </a>
      </div>
    {% elseif pratica.status == constant('STATUS_PENDING', pratica) %}
      {{ include('@App/Operatori/parts/change_status_modal.html.twig') }}
      <div class="col d-flex justify-content-center">
        <button class="btn btn-outline-secondary" id="modal_refuse" data-toggle="modal"
                data-target=".bd-example-modal-lg">
          <svg class="icon icon-danger">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
          </svg>{{ 'operatori.rigetta' | trans }}
        </button>
      </div>

      {% if pratica.servizio.allowIntegrationRequest %}
        <div class="col d-flex justify-content-center">
          <button class="btn btn-outline-secondary" id="modal-integration" data-toggle="modal"
                  data-target="#integration-request-modal">
            <svg class="icon icon-warning">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-comment"></use>
            </svg>{{ 'operatori.richiedi_integrazioni' | trans }}</button>
        </div>
      {% endif %}

      <div class="col d-flex justify-content-center">
        <button class="btn btn-primary" id="modal_approve" data-toggle="modal"
                data-target=".bd-example-modal-lg">
          <svg class="icon icon-light">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
          </svg>{{ 'operatori.approva' | trans }}</button>
      </div>
    {% endif %}
  </div>
{% else %}
  <div class=" alert alert-info mb-4">
    <p>
      {{ 'operatori.iter_completato' | trans({
        '%statusName%': pratica.statusName | trans,
        '%data%': pratica.latestStatusChangeTimestamp | date(ocsdc_default_date_format),
        '%ore%': pratica.latestStatusChangeTimestamp | date('H:i:s')})
      | raw }}
    </p>
    {% if pratica.motivazioneEsito %}
      <div class="mb-0 p-2 bg-light">{{ pratica.motivazioneEsito | raw }}</div>
    {% endif %}
    {% if pratica.allegatiOperatore|length > 0 %}
      <p class="mb-0 px-2 pb-2 bg-light">
        {% for allegato in pratica.allegatiOperatore %}
          <a class="text-decoration-none d-block"
             href="{{ path('allegati_download_operatore', {'allegato': allegato.id}) }}">
            <small><i class="fa fa-file"></i> {{ allegato.description }}</small>
          </a>
        {% endfor %}
      </p>
    {% endif %}
  </div>
{% endif %}
