<a class="list-item large medium left-icon icon-left pr-0"
   href="{% if pratica.servizio.id in user.serviziAbilitati %}{{ path('operatori_show_pratica', {'pratica': pratica }) }}{% else %}#{% endif %}">

  <span {% if pratica.id == reference.id %}class="text-secondary"{% endif %} style="line-height: 1.5">{{ pratica.servizio.name }}</span>
  <svg class="icon icon-{% if pratica.id == reference.id %}secondary{% else %}primary{% endif %} icon-left mt-2">
    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
  </svg>
  <p class="m-0{% if pratica.id == reference.id %} text-secondary{% endif %}">
    <span class="badge badge-{% if pratica.id == reference.id %}secondary text-white{% else %}light{% endif %} text-decoration-none mr-1">{{ pratica.statusName | trans }}</span>del {{ pratica.submissionTime | date('d/m/Y H:i:s') }}
  </p>
</a>
{% if pratica.children.count > 0 %}
  <li><span class="divider"></span>
  <ul class="link-sublist">
    {% for item in pratica.children %}
      <li>{{ include('@App/Operatori/parts/fascicolo_pratica.html.twig', {'pratica': item, 'reference': reference}) }}</li>
      {% if not loop.last %}<li><span class="divider"></span>{% endif %}
    {% endfor %}
  </ul>
{% endif %}

