{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_script_tags('calendar-manager') }}

{% endblock %}

{% block javascripts %}
  {{ encore_entry_link_tags('calendar-manager') }}
{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h1>Modifica calendario</h1>
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.location) }}
        {{ form_row(form.contact_email) }}
        {{ form_row(form.owner) }}
        {{ form_row(form.is_moderated) }}
        {{ form_row(form.moderators) }}
        {{ form_row(form.rolling_days) }}
        {{ form_row(form.minimum_scheduling_notice) }}
        {{ form_row(form.allow_cancel_days) }}

        {{ include('AppBundle:Calendars/parts:calendarExternalCalendars.html.twig') }}
        {{ include('AppBundle:Calendars/parts:calendarClosingPeriods.html.twig') }}
        {{ include('AppBundle:Calendars/parts:calendarOpeningHours.html.twig') }}

        <div class="row">
          <div class="col-6">
            <input class="btn btn-warning mr-1" type="submit" value="Modifica" />
          </div>
          <div class="col-6 text-right">
            <a class="btn btn-100 mr-1" href="{{ path('operatori_calendars_index') }}">Torna alla lista</a>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
