{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css"/>

  <style type='text/css'>
    .my-legend .legend-title {
      text-align: left;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 90%;
    }

    .my-legend .legend-scale ul {
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      float: left;
      list-style: none;
    }

    .my-legend .legend-scale ul li {
      font-size: 80%;
      list-style: none;
      margin-left: 0;
      line-height: 18px;
      margin-bottom: 2px;
    }

    .my-legend ul.legend-labels li span {
      display: block;
      float: left;
      height: 16px;
      width: 30px;
      margin-right: 5px;
      margin-left: 0;
      border-radius: 5px;
    }

    .my-legend .legend-source {
      font-size: 70%;
      color: #999;
      clear: both;
    }

    .my-legend a {
      color: #777;
    }

    @media only screen and (max-width: 600px) {
      .fc-toolbar.fc-header-toolbar {
        display: block;
      }

      .fc-timeGridWeek-button {
        display: none;
      }

      .fc-dayGridMonth-button {
        display: none;
      }
    }

    .fc td.fc-today {
      background-image: none;
    }

  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/locales-all.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>
  <script type="text/javascript" src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

  <script>
    $(function () {
      $("#edit_alert").hide();
      $("#modalApprove").hide();
      $("#modalRefuse").hide();
      $("#modalMissed").hide();
      $("#modalComplete").hide();
      $("#modalSlot").click(function () {
        $("#edit_alert").show();
      });

      var calendarEl = document.getElementById('fullcalendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        events: {{ events | json_encode | raw }},
        plugins: ['bootstrap', 'dayGrid', 'timeGrid', 'list', 'interaction'],
        themeSystem: 'bootstrap',
        locale: 'it',
        timeZone: 'Europe/Rome',
        nowIndicator: true,
        allDaySlot: false,
        defaultView: $(window).width() < 765 ? 'timeGridDay' : 'dayGridMonth',
        header: {
          left: 'prev,today,next',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay, listWeek'
        },
        slotDuration: calculateSlot(),
        contentHeight: 600,
        minTime: '08:00:00',
        maxTime: '19:00:00',
        dateClick: function (info) {

          if (info.view.type === 'timeGridWeek' || info.view.type === 'timeGridDay') {
            let start = new Date(info.date);
            let end = new Date(new Date(info.date).getTime() + {{ minDuration }}* 60000);
            $('#modalNewSlot').val(start.toISOString().slice(11, 16) + ' - ' + end.toISOString().slice(11, 16));
          }

        },
        eventRender: function (info) {
          if (info.event.extendedProps.status === 0) {
            var dotEl = info.el.getElementsByClassName('fc-event-dot')[0];
            if (dotEl) {
              dotEl.style.backgroundColor = 'var(--primary)';
            }
          }
          var textEl = info.el.getElementsByClassName('fc-list-item-title')[0];
          if (textEl) {
            textEl.append(`: ${info.event.extendedProps.description}`);
          }
        },
        editable: true,
        eventDurationEditable: false,
        eventDrop: function (info) {
          compileModal(info)
        },
        eventClick: function (info) {
          if (info.event.id) compileModal(info);
          else if (info.event.title === 'Apertura') newModal(info)
        }
      });

      calendar.render();
    });

    function calculateSlot() {
      let minDuration = {{ minDuration }};
      if (minDuration <= 60) {
        return `00:${minDuration}:00`
      } else return "01:00:00";
    }

    function compileModal(info) {
      $("#edit_alert").hide();
      $("#modalApprove").hide();
      $("#modalRefuse").hide();
      $("#modalMissed").hide();
      $("#modalComplete").hide();
      $("#modalReschedule").hide();

      let date = new Date(info.event.start).toISOString().slice(0, 10);
      let start = new Date(info.event.start).toISOString().slice(11, 16);
      let end = new Date(info.event.end).toISOString().slice(11, 16);

      // Populate datalist
      getSlots(date);

      // Populate modal
      $('#modalDate').val(date);
      $('#modalSlot').val(`${start} - ${end}`);
      $('#modalId').html(info.event.id);
      $('#modalTitle').html(`[${getStatus(info.event.extendedProps.status).toUpperCase()}] ${info.event.extendedProps.name}`);
      $('#modalDescription').html(info.event.extendedProps.description);
      $('#modalPhone').html(info.event.extendedProps.phoneNumber || 'Non specificato');
      if (info.event.extendedProps.email) {
        $('#modalEmail').html(`<a  href="mailto:${info.event.extendedProps.email}">${info.event.extendedProps.email}</a>`);
      } else {
        $('#modalEmail').html('Non specificato');
      }
      $('#modalStatus').html(info.event.extendedProps.status);

      if (info.event.extendedProps.rescheduled === 1){
        $('#modalRescheduleText').html(`Quest'appuntamento è stato spostato 1 volta`);
        $("#modalReschedule").show();
      }
      else if (info.event.extendedProps.rescheduled !== 0){
        $('#modalRescheduleText').html(`Quest'appuntamento è stato spostato ${info.event.extendedProps.rescheduled} volte`);
        $("#modalReschedule").show();
      }
      switch ($('#modalStatus').html()) {
        case '0': //Attesa
          $('#modalApprove').show();
          $('#modalRefuse').show();
          break;
        case '1': //approvato
          $('#modalComplete').show();
          $('#modalMissed').show();
          break;
        case '2': //Rifiutato
          $('#modalApprove').show();
          $('#modalRefuse').show();
          break;
        case '3': //assente
          $('#modalComplete').show();
          $('#modalMissed').show();
          break;
        case '4': // Concluso
          $('#modalComplete').show();
          $('#modalMissed').show();
          break;
      }

      $('#modalError').html('');
      $('#modalCenter').modal('show');
      $('#modalClose').click(info.revert)
    }

    function newModal(info) {
      let date = new Date(info.event.start).toISOString().slice(0, 10);
      // Populate datalist
      getSlots(date);

      $('#modalNewDate').val(date);
      $('#modalNewStatus').html(1);
      $('#modalNew').modal('show');

    }

    function editEvent(changeStatus) {
      let status;
      if (changeStatus) status = changeStatus;
      else status = $('#modalStatus').html();

      let date = $('#modalDate').val();
      let slot = $('#modalSlot').val().split(' - ');
      let start = slot[0];
      let end = slot[1];
      let id = $('#modalId').html();

      let data = {
        status: status,
        from_time: new Date(`${date}:${start} UTC`).toISOString(),
        to_time: new Date(`${date}:${end} UTC`).toISOString(),
      };
      let url = '{{ path("meetings_api_patch", {'id': 'meeting_id'}) }}';
      url = url.replace("meeting_id", id);
      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        url: url,
        type: 'PATCH',
        data: JSON.stringify(data),
        success: function (response, textStatus, jqXhr) {
          //fixme
          location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          //fixme:  translate
          //$('#modalNewError').html(jqXHR.responseJSON.description);
          $('#modalError').html('Si è verificato un errore durante la modifica dell\'appuntamento');
        },
      });
    }

    function createMeeting() {
      let date = $('#modalNewDate').val();
      let slot = $('#modalNewSlot').val().split(' - ');
      let start = slot[0];
      let end = slot[1]
      let name = $('#modalNewName').val();
      let description = $('#modalNewDescription').val();
      let email = $('#modalNewEmail').val();
      let phone = $('#modalNewPhone').val();

      let data = {
        status: 0,
        from_time: new Date(`${date}:${start} UTC`).toISOString(),
        to_time: new Date(`${date}:${end} UTC`).toISOString(),
        user_message: description,
        email: email,
        name: name,
        phone_number: phone,
        calendar: '{{ calendar.id }}'
      };

      let url = '{{ path("meetings_api_post") }}';
      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        url: url,
        type: 'POST',
        data: JSON.stringify(data),
        success: function (response, textStatus, jqXhr) {
          // fixme
          location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          //fixme:  translate
          //$('#modalNewError').html(jqXHR.responseJSON.description);
          $('#modalNewError').html('Si è verificato un errore durante la creazione dell\'appuntamento');
        },
      });
    }

    function getSlots(date) {
      let id = '{{ calendar.id }}';

      let url = '{{ path("calendar-day-availabilities_api_get", {'id': 'calendar_id', 'date': 'date'}) }}';
      url = url.replace("calendar_id", id).replace("date", date);

      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        url: url,
        type: 'GET',
        success: function (response, textStatus, jqXhr) {
          $('#slots').empty();
          for (let i = 0; i < response.length; i++) {
            let value = response[i]['start_time'] + ' - ' + response[i]['end_time'];
            let available = response[i]['availability'];
            if (!available)
              $("#slots").append("<option value='" + value + "'disabled>" + value + "</option>");
            else {
              $("#slots").append("<option value='" + value + "'>" + value + "</option>");
            }
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          $('#modalError').html('Impossibile recuperare le disponibilità per la data selezionata');
        },
      });
    }

    function getStatus(status) {
      switch (status) {
        case 0:
          return 'In attesa di conferma';
        case 1:
          return 'Confermato';
        case 2:
          return 'Rifiutato';
        case 3:
          return 'Assente';
        case 4:
          return 'Concluso';
        default:
          return 'Errore';
      }
    }
  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h1>
          {{ calendar.title }}
        </h1>
      </div>
    </div>

    <div class="nav-tabs-hidescroll mt-4 mt-md-5">
      <ul class="nav nav-tabs auto no-border no-background" id="tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link text-primary active" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab"
             aria-controls="calendar" aria-selected="true">Calendario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" id="meetings-tab" data-toggle="tab" href="#meetings" role="tab"
             aria-controls="meetings" aria-selected="false">Appuntamenti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" id="detail-tab" data-toggle="tab" href="#detail" role="tab"
             aria-controls="detail" aria-selected="false">Dettaglio</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <!-- prettier-ignore -->
        <div class="tab-content mt-5 mt-md-3" id="myTabContent">
          <div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
            {{ include('AppBundle:Calendars/parts:showFullCalendar.html.twig') }}
          </div>
          <div class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
            {{ include('AppBundle:Calendars/parts:showTable.html.twig') }}
          </div>
          <div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="detail-tab">
            {{ include('AppBundle:Calendars/parts:showDetails.html.twig') }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 float-right">
        <p><small class="text-200">Creato da {{ calendar.owner.username }}
            il {{ calendar.createdAt | date('d/m/Y') }}</small></p>
        <p><small class="text-200">Ultima modifica: {{ calendar.updatedAt | date('d/m/Y H:i:s') }}</small></p>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <a class="btn btn-100 btn-sm" href="{{ path('operatori_calendars_index') }}">Torna alla lista</a>
        <a class="btn btn-primary btn-sm" href="#" onclick="printJS({
        printable: 'fullcalendar',
        type: 'html',
        honorColor: true,
         css: ['https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css',
        'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css',
        'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css',
        'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css',
        'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css']})">
          Stampa
        </a>
        <a class="btn btn-warning btn-sm"
           href="{{ path('operatori_calendar_edit', { 'calendar': calendar.id }) }}">Modifca</a>
      </div>
      <div class="col-4">
        {{ form_start(delete_form) }}
        <div>
          <a class="btn btn-danger btn-sm float-right"
             onclick="return confirm('Sei sicuro di procedere? il calendario verrà eliminato definitivamente.');"
             href="{{ path('operatori_calendar_delete', { 'id': calendar.id }) }}">Elimina</a>
          {{ form_end(delete_form) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
