{% extends '@App/Default/index.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  {{ encore_entry_link_tags('compile') }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/formiojs@latest/dist/formio.full.min.css">
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('compile') }}
  <script src="{{ asset('bundles/app/js/formio-i18n.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      if ($('#formio_render_form_id').length) {

        // Nascondo input symfony, trovare modo di fare submit di formio da esterno
        $('#submit').addClass('d-none');

        Formio.icons = 'fontawesome';
        //Formio.createForm(document.getElementById('formio'), 'https://examples.form.io/example')
        Formio.createForm(document.getElementById('formio'), $('#formio').data('formserver_url') + '/form/' + $('#formio_render_form_id').val(), {
          noAlerts: true,
          language: 'it',
          i18n: formIoI18n
        })
          .then(function (form) {

            // Disable applicant inputs
            // todo: find beter way
            form.formReady.then(() => {
              var disableApplicant = function () {
                if ($('.formio-component-applicant input').length == 11) {
                  $('.formio-component-applicant input').each(function(){
                    console.log(this);
                    if ($(this).val()) {
                      $(this).attr('disabled', 'disabled')
                    }
                  });
                } else {
                  setTimeout(disableApplicant, 1000); // check again in a second
                }
              };
              disableApplicant();
            });

            if (form.hasOwnProperty('wizard')) {
              $('.craue_formflow_current_step.active').addClass('wizard');
            }

            // Recupero i dati della pratica se presenti
            if ($('#formio_render_dematerialized_forms').val() != '') {
              form.submission = {
                data: JSON.parse($('#formio_render_dematerialized_forms').val()).data
              };
            }

            form.nosubmit = true;
            // Triggered when they click the submit button.
            form.on('submit', function (submission) {
              /*return fetch('{% if endpoint_prefix is defined %}/{{ endpoint_prefix }}{% endif %}/pratiche/formio/validate', {
                body: JSON.stringify(submission),
                headers: {
                  'content-type': 'application/json'
                },
                method: 'POST',
                mode: 'cors'
              })
                .then(response => {
                  form.emit('submitDone', submission)
                  if (response.ok) {
                    let data = $('form[name="formio_render"]').serialize();
                    //$('#formio_render_dematerialized_forms').val(data);
                    $('#formio_render_dematerialized_forms').val(JSON.stringify(submission.data));
                    //$('form[name="formio_render"]').submit();
                    $('.craue_formflow_button_class_next').trigger('click');
                  }
                })
              */

              form.emit('submitDone', submission)
              let data = $('form[name="formio_render"]').serialize();
              //$('#formio_render_dematerialized_forms').val(data);
              $('#formio_render_dematerialized_forms').val(JSON.stringify(submission.data));
              //$('form[name="formio_render"]').submit();
              $('#submit').trigger('click');
            });
          });
      }
    });
  </script>

{% endblock %}

{% block main_content %}
  {% form_theme form ':form:ocsdc_form_style.html.twig' %}

  <section id="intro" class="container px-4 my-4 {{ form.vars.id }}">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>{{ 'pratica.nuova_pratica'|trans({'%name%':pratica.servizio.name}) }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 px-lg-4 order-lg-2">
        <div class="callout">
          <div class="callout-title">
            Info
          </div>
          <p>Stai compilando la pratica come anonimo, <a href="{{ path('pratiche_new', {'servizio': pratica.servizio.slug}) }}">accedi</a> al sistema per la compilazione automatica dei campi ed il salvataggio della pratica nel tuo profilo.</p>
          <a href="{{ path('pratiche_new', {'servizio': pratica.servizio.slug}) }}"
             class="btn btn-xs btn-primary service-access-button">
            <span>Accedi</span>
          </a>
        </div>
      </div>

      <div class="col-lg-8 px-lg-4 order-lg-1 mt-4">
        {#{ form_start(form, {'action': path('pratiche_compila', {'pratica': pratica.id }) } ) }#}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <div id="formio" data-formserver_url="{{ formserver_url }}"></div>
        <input id="submit" class="btn btn-primary d-none" type="submit" value="Invia"/>
        {{ form_end(form) }}
      </div>
    </div>
  </section>

  <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmAutoAssignLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{ 'steps.common.conferma.sei_sicuro_di_inviare'|trans }}
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn">{{ 'steps.common.conferma.no'|trans }}</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary" id="ok">{{ 'steps.common.conferma.si'|trans }}</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
