{% extends '@App/Default/index.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  {{ encore_entry_link_tags('compile') }}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/formiojs@latest/dist/formio.full.min.css">
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('compile') }}
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{{ asset('bundles/app/js/formio-i18n.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script src="https://unpkg.com/formiojs@4.7.8/dist/formio.full.min.js"></script>
  <script>
    $(document).ready(function () {
      let formIoIdInput = $('#formio_render_form_id');
      if (formIoIdInput.length) {
        let customErrorContainer = $('#formio-custom-errors');
        // Nascondo input symfony, trovare modo di fare submit di formio da esterno
        $('.craue_formflow_buttons').addClass('d-none');

        Formio.icons = 'fontawesome';
        Formio.createForm(document.getElementById('formio'), $('#formio').data('formserver_url') + '/form/' + $('#formio_render_form_id').val(), {
          noAlerts: true,
          language: 'it',
          i18n: formIoI18n,
          buttonSettings: {
            showCancel: false
          }
        })
          .then(function (form) {
            if (form.hasOwnProperty('wizard')) {
              $('.craue_formflow_current_step.active').addClass('wizard');
            }

            let dataContainer = $('#formio_render_dematerialized_forms');
            // Recupero i dati della pratica se presenti
            if (dataContainer.val() != '') {
              form.submission = {
                data: JSON.parse(dataContainer.val()).data
              };
            }

            form.on('nextPage', function () {
              document.getElementById("formio").scrollIntoView();
            });

            let realSubmitButton = $('.craue_formflow_button_class_next');
            form.nosubmit = true;
            // Triggered when they click the submit button.
            form.on('submit', function (submission) {
              let submitButton = $('#formio button');
              submitButton.hide();
              $('<a href="#" id="loading-button" class="btn btn-secondary"><i class="fa fa-refresh fa-spin"></i> Attendere...</a>').insertAfter(submitButton.last());
              customErrorContainer.empty().hide();
              axios.post('{{ path( 'anonymous_formio_validate', {'servizio': pratica.servizio.slug}) }}', JSON.stringify(submission.data))
                .then(function (reponse) {
                  customErrorContainer.empty();
                  let submitErrors = null;
                  if (reponse.data.errors) {
                    reponse.data.errors.forEach((error) => {
                      customErrorContainer.append('<p class="m-0">' + error.toString() + '</p>');
                    });
                    customErrorContainer.show();
                    $('#formio #loading-button').remove();
                    submitButton.show();
                  }else{
                    form.emit('submitDone', submission)
                    let data = $('form[name="formio_render"]').serialize();
                    dataContainer.val(JSON.stringify(submission.data));
                    realSubmitButton.trigger('click');
                  }
                });
            });
          });
      }
    });
  </script>

{% endblock %}

{% block main_content %}
  {% form_theme form ':form:ocsdc_form_style.html.twig' %}

  <section id="intro" class="container px-4 my-4 {{ form.vars.id }}">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>{{ 'pratica.nuova_pratica'|trans({'%name%':pratica.servizio.name}) }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 px-lg-4">
        <h4 class="mb-5">
          {{ 'pratica.passo_uno_di_tanti'|trans({'%current%':flow.getCurrentStepNumber(),'%total%':flow.stepCount}) }}
          -
          {% if form.vars.helper.stepTitle|length > 0 %}
            {{ form.vars.helper.stepTitle }}
          {% else %}
            {{ flow.currentStepLabel()|trans }}
          {% endif %}
        </h4>
      </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-md-12 mt-4 mb-4">
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-lg-4 px-lg-4 order-lg-2">
        {% if pratica.servizio.loginSuggested and flow.currentStep != flow.stepCount %}
          {% if flow.getCurrentStepNumber() == 1 %}
          <div class="callout">
            <div class="callout-title">
              <svg class="icon"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use></svg>
              {{ login_callout_texts.title }}
            </div>
            <div class="body">
              <p>{{ login_callout_texts.text | raw }}</p>
              <p>
              <a href="{{ path('pratiche_new', {'servizio': pratica.servizio.slug}) }}"
                 class="btn btn-primary btn-lg btn-icon mt-1 service-access-button">
                <span>
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 587.6 587.6"><style>.st0{fill:#FFF}.st1{fill:#06C}</style><path id="XMLID_3_" class="st0" d="M587.6 293.8c0 162.3-131.5 293.8-293.8 293.8C131.6 587.6 0 456.1 0 293.8S131.6 0 293.8 0c162.3 0 293.8 131.5 293.8 293.8"/><path id="XMLID_2_" class="st1" d="M294.6 319c-24.4 0-44.5-8.2-60.3-24.8-15.8-16.5-23.7-37-23.7-61.4 0-24.5 7.9-44.8 23.6-61 15.7-16.2 35.7-24.3 60.2-24.3 24.4 0 44.3 8.2 59.6 24.9 15.3 16.6 23 37 23 61.5 0 24.3-7.7 44.6-23 60.8-15.3 16.1-35 24.3-59.4 24.3"/><path id="XMLID_1_" class="st1" d="M210.6 439.1c0-24.5 7.9-44.8 23.5-61 15.7-16.2 35.7-24.3 60.4-24.3 24.4 0 44.3 8.2 59.5 24.9 15.3 16.7 23 37.1 23 61.5"/></svg>
                </span>
                <span class="ml-2">{{ login_callout_texts.button }}</span>
              </a>
              </p>
            </div>
          </div>
          {% endif %}
        {% endif %}

        {# Info compilazione specificate nel servizio #}
        {{ include('AppBundle:Pratiche/parts:compilation_info.html.twig') }}
      </div>

      <div class="col-lg-8 px-lg-4 order-lg-1">
        {{ form_start(form) }}
        <div class="step-{{ flow.getCurrentStepNumber() }}">

          {{ form_errors(form) }}

          {% if form.vars.helper.descriptionText|length > 0 %}
            {{ form.vars.helper.descriptionText|raw }}
          {% endif %}

          {% set currentStep = flow.steps[flow.getCurrentStepNumber() - 1] %}
          {% if currentStep.formType == "AppBundle\\Form\\Base\\SummaryType" %}
            <p>{{ 'steps.common.conferma.payment_help_text_top'|trans }}</p>
            {{ include('AppBundle:PraticheAnonime/parts:pratica_summary.html.twig', {'pratica':form.vars.data}) }}
            <p class="py-3">{{ 'operatori.recaptcha'| trans }}</p>
          {% elseif  flow.getCurrentStepNumber() == flow.getLastStepNumber() %}
            <p>{{ 'steps.common.conferma.help_text_top'|trans }}</p>
            {{ include('AppBundle:PraticheAnonime/parts:pratica_summary.html.twig', {'pratica':form.vars.data}) }}
            <p class="py-3">{{ 'operatori.recaptcha'| trans }}</p>
          {% endif %}

          {{ form_rest(form) }}

        </div>

        <div id="formio" class="formio-front" data-formserver_url="{{ formserver_url }}"></div>

        <div id="formio-custom-errors" class="formio-error-wrapper p-3 mb-2" style="display: none"></div>

        {% if form.vars.id != 'pratica_payment_gateway' or (form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType.identifier != 'mypay') %}
        <div class="mt-5">
          {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
        </div>
        {% endif %}
        {{ form_end(form) }}
      </div>

    </div>
  </section>

  {# Modal di conferma #}
  {{ include('AppBundle:Pratiche/parts:confirm_modal.html.twig') }}

{% endblock %}

