{% set ente = instance_service.getCurrentInstance() %}
<footer id="footer" class="clearfix">
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Contatti</h3>
            </div>
            <div class="col-md-6 col-sm-6">
                {% if ente %}
                    <p>{{ ente.contatti|raw }}</p>
                {% endif %}
            </div>

            <div class="col-md-6 col-sm-6">
                {% if ente %}
                    <p>
                        {% if ente.email %}
                            Indirizzo email <a href="mailto:{{ ente.email }}">{{ ente.email }}</a><br />
                        {% endif %}
                        {% if ente.emailCertificata %}
                            Posta Elettronica Certificata <a href="mailto:{{ ente.emailCertificata }}">{{ ente.emailCertificata }}</a><br />
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
<!-- EOF #footer -->
