{% if canDelete %}
  <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#confirm-delete-modal-{{ id }}">
    <svg class="icon icon-sm icon-white">
      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-delete"></use>
    </svg>
    <span class="">{{ 'elimina' | trans }}</span>
  </button>
  {{ include('@App/Calendars/table/_modal_delete.html.twig', {'id': id, 'title': title, 'futureMeetings': futureMeetings}) }}
{% else %}
  <button data-toggle="tooltip" title="{{ 'calendars.cant_delete_tooltip' | trans({'%owner%': owner}) }}"
          class="btn btn-xs btn-primary disabled">
    <svg class="icon icon-sm icon-300">
      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-delete"></use>
    </svg>
    <span class="">{{ 'elimina' | trans }}</span>
  </button>
{% endif %}
