<div class="form-check-group form-check row-payments">
  {{ form_label(form.gateways) }}
  {% for key,gateway in form.gateways.children %}
    <div class="card card-bg my-3" id="accordion-{{ gateway.vars.value }}">
      <div class="card-body" id="heading-{{ gateway.vars.value }}">
        <div class="top-icon">
          {% if  gateway.vars.value == 'efil' %}
            <img class="icon w-auto" src="{{ asset('bundles/app/images/efil.svg') }}"
                 alt="efil"/>
          {% elseif gateway.vars.value == 'mypay' or gateway.vars.value ==  'mypay2.0' %}
            <img class="icon w-auto" src="{{ asset('bundles/app/images/mypay.png') }}"
                 alt="mypay"/>
          {% elseif gateway.vars.value == 'bollo' %}
            <svg class="icon icon-50">
              <use href="/bootstrap-italia/dist/svg/sprite.svg#it-fullscreen"></use>
            </svg>
          {% else %}
            <svg class="icon icon-50">
              <use href="/bootstrap-italia/dist/svg/sprite.svg#it-card"></use>
            </svg>
          {% endif %}
        </div>
        <h4 class="mb-0">
          <div class="" data-toggle="collapse" data-target="#collapse-{{ gateway.vars.value }}"
               aria-expanded="{{ gateway.vars.checked ? true : false }}" aria-controls="collapse-{{ gateway.vars.value }}">
            {{ form_widget(gateway) }}
            {{ form_label(gateway) }}
            {{ form_errors(gateway) }}
          </div>
        </h4>
      </div>
      {% if gateway.vars.value != 'bollo' and gateway.vars.value != 'mypay' and gateway.vars.data %}
        <div id="collapse-{{ gateway.vars.value }}" class="collapse {{ gateway.vars.checked ? 'show' : '' }}"
             aria-labelledby="heading-{{ gateway.vars.value }}" data-parent="#accordion-{{ gateway.vars.value }}">
          <div class="card-body" id="card-collapse-{{ gateway.vars.value }}"></div>
        </div>
      {% elseif gateway.vars.value == 'mypay' %}
        <div id="collapse-{{ gateway.vars.value }}" class="collapse {{ gateway.vars.checked ? 'show' : '' }}"
             aria-labelledby="heading-{{ gateway.vars.value }}" data-parent="#accordion-{{ gateway.vars.value }}">
          <div class="card-body" id="card-collapse-{{ gateway.vars.value }}">
            {{ form_row(form.mypay) }}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}

</div>
