{% set download_allegato_path = user.id == pratica.user.id ? 'allegati_download_cpsuser' : 'allegati_download_operatore' %}

<table class="table">
    {%  if pratica.statusName != 'STATUS_DRAFT' %}
        <tr>
            <th>{{ 'pratica.dettaglio.data_ora_presentazione'|trans }}</th>
            <td> {{ pratica.creationTime|date('d/m/Y') }} {{ 'pratica.dettaglio.alle'|trans }} {{ pratica.creationTime|date('H:i') }} </td>
        </tr>
        <tr>
            <th>{{ 'pratica.dettaglio.stato'|trans }}</th>
            <td> {{ pratica.statusName|trans }}</td>
        </tr>
    {% endif %}
    {% if pratica.servizio != null %}
    <tr>
        <th>{{ 'pratica.dettaglio.servizio'|trans }}</th>
        <td>{{ pratica.servizio.name }}</td>
    </tr>
    {% endif %}
    {% if pratica.ente != null %}
    <tr>
        <th>{{ 'pratica.dettaglio.ente'|trans }}</th>
        <td> {{ pratica.ente.name }}</td>
    </tr>
    {% endif %}
    {% if pratica.struttura != null %}
    <tr>
        <th>{{ 'pratica.dettaglio.struttura'|trans }}</th>
        <td> {{ pratica.struttura.name }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>{{ 'pratica.dettaglio.orario'|trans }}</th>
        <td> {{ pratica.strutturaOrario }}</td>
    </tr>
    <tr>
        <th>{{ 'pratica.dettaglio.periodo'|trans }}</th>
        <td> {{ pratica.periodoIscrizioneDa|date("d/m/Y") }} - {{ pratica.periodoIscrizioneA|date("d/m/Y") }}</td>
    </tr>
    <tr>
        <th>{{ 'pratica.dettaglio.richiedente'|trans }}</th>
        <td> {{ pratica.user.fullName }}</td>
    </tr>
    <tr>
        <th>{{ 'pratica.dettaglio.bambino'|trans }}</th>
        <td>
            {{ pratica.bambinoCognome }} {{ pratica.bambinoNome }} {{ 'pratica.dettaglio.nato_a'|trans }} {{ pratica.bambinoLuogoNascita }}
            {{ 'pratica.dettaglio.nato_il'|trans }} {{ pratica.bambinoDataNascita|date('d/m/Y') }}
        </td>
    </tr>
    <tr>
        <th>{{ 'pratica.dettaglio.nucleo_familiare'|trans }}</th>
        <td>
            {% if pratica.nucleoFamiliare|length > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'pratica.dettaglio.componente_nucleo_familiare.cognome'|trans }}</th>
                    <th>{{ 'pratica.dettaglio.componente_nucleo_familiare.nome'|trans }}</th>
                    <th>{{ 'pratica.dettaglio.componente_nucleo_familiare.codice_fiscale'|trans }}</th>
                    <th>{{ 'pratica.dettaglio.componente_nucleo_familiare.rapporto_di_parentela'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for componente in pratica.nucleoFamiliare %}
                    <tr>
                        <td>{{ componente.cognome }} </td>
                        <td>{{ componente.nome }}</td>
                        <td>{{ componente.codiceFiscale }}</td>
                        <td>{{ componente.rapportoParentela }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'pratica.dettaglio.allegati'|trans }}</th>
        <td>
            {% if pratica.allegati|length > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'pratica.dettaglio.allegato.file'|trans }}</th>
                    <th>{{ 'pratica.dettaglio.allegato.descrizione'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for allegato in pratica.allegati %}
                    <tr>
                        <td>{{ allegato.originalFilename }}</td>
                        <td>{{ allegato.description }}</td>
                        <td><a href="{{ path( download_allegato_path, {'allegato': allegato.id}) }}" class="btn btn-xs btn-info">{{ 'allegato.scarica_allegato'|trans }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p><em>{{ 'pratica.nessun_allegato'|trans }}</em></p>
            {% endif %}
        </td>
    </tr>
</table>
