{% if pratica.servizio.accessLevel > 0 or pratica.servizio.accessLevel is null %}
  <a href="{{ path('pratiche_show_pdf', {'pratica': pratica.id}) }}" class="btn btn-block btn-primary">
    <i class="fa fa-download"></i>
    {% if pratica.servizio.isProtocolRequired %}
      {{ 'operatori.scarica_richiesta_protocollata'|trans }}
    {% else %}
      {{ 'operatori.scarica_ricevuta'|trans }}
    {% endif %}
  </a>
{% else %}
  <a href="{{ path('pratiche_anonime_show_pdf', {'pratica': pratica.id, 'hash': pratica.hash}) }}" class="btn btn-block btn-primary">
    <i class="fa fa-download"></i>
    {% if pratica.servizio.isProtocolRequired %}
      {{ 'operatori.scarica_richiesta_protocollata'|trans }}
    {% else %}
      {{ 'operatori.scarica_ricevuta'|trans }}
    {% endif %}
  </a>
{% endif %}
