{% if pratica.moduliCompilati.count + pratica.allegati.count + messageAttachments|length + pratica.allegatiOperatore.count  == 0 %}
    <div class="pt-2 font-italic text-center">{{ 'operatori.messaggi.no_attachments' | trans }}</div>
  {% else %}
    <div id="collapse-attachments" class="collapse-div collapse-left-icon" role="tablist">
      <div class="collapse-header" id="heading1-lft">
        <button data-toggle="collapse" data-target="#collapse1-lft" aria-expanded="true" aria-controls="collapse1-lft">
          {{ 'operatori.allegati_modulo'|trans}}
        </button>
      </div>
      <div id="collapse1-lft" class="collapse show" role="tabpanel" aria-labelledby="heading1-lft">
        <div class="collapse-body">
          <p class="pt-2 font-italic">{{ 'pratica.dettaglio.lista_allegati.descrizione_modulo'|trans }}</p>

          {# Muduli compiliati #}
          {% if pratica.moduliCompilati|length > 0 %}
            <div class="it-list-wrapper mt-4">
              {{ include('@App/Allegato/parts/_header_attachments.html.twig', {'section_title': 'operatori.scarica'}) }}
              <ul class="it-list">
                {% for modulo in pratica.moduliCompilati %}
                  {{ include('@App/Allegato/parts/_line_attachment.html.twig', {'attachment': modulo, 'application': pratica}) }}
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {# Allegati #}
          {% if module_files|length > 0 %}
            {% for panel, fields in module_files %}
              <div class="it-list-wrapper mt-4">
                {{ include('@App/Allegato/parts/_header_attachments.html.twig', {'section_title': panel}) }}
                {% for field, files in fields %}
                  <strong class="field primary-color d-block">{{ field }}</strong>
                  <ul class="it-list">
                    {% for allegato in files %}
                      {{ include('@App/Allegato/parts/_line_attachment.html.twig', {'attachment': allegato, 'application': pratica}) }}
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      {# Allegati ai messaggi #}
      {% if messageAttachments|length > 0 %}
        <div class="collapse-header" id="heading3-lft">
          <button data-toggle="collapse" data-target="#collapse3-lft" aria-expanded="false" aria-controls="collapse3-lft">
            {{ 'operatori.allegati_messaggi'|trans }}
          </button>
        </div>
        <div id="collapse3-lft" class="collapse" role="tabpanel" aria-labelledby="heading3-lft">
          <div class="collapse-body">
            <p class="pt-2 font-italic">{{ 'pratica.dettaglio.lista_allegati.descrizione_messaggi'|trans }}</p>
            {% if messageAttachments|length > 0 %}
              {% for allegato in messageAttachments %}
                <div class="it-list-wrapper mt-4">
                  {{ include('@App/Allegato/parts/_header_attachments.html.twig', {'section_title': allegato.messages[0].author.fullname}) }}
                  <ul class="it-list">
                    {{ include('@App/Allegato/parts/_line_attachment.html.twig', {'attachment': allegato, 'application': pratica}) }}
                  </ul>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endif %}

      {# Risposta operatore #}
      {% if pratica.statusName == 'STATUS_COMPLETE' or pratica.statusName == 'STATUS_CANCELLED' %}
        {% if pratica.rispostaOperatore %}
          <div class="collapse-header" id="heading3-lft">
            <button data-toggle="collapse" data-target="#collapse4-lft" aria-expanded="false" aria-controls="collapse4-lft">
              {{ include('@App/Allegato/parts/_header_attachments.html.twig', {'section_title': 'operatori.scarica_risposta_firmata'}) }}
            </button>
          </div>
          <div id="collapse4-lft" class="collapse" role="tabpanel" aria-labelledby="heading3-lft">
            <div class="collapse-body">
              <p class="pt-2 font-italic">{{ 'pratica.dettaglio.lista_allegati.descrizione_risposta'|trans }}</p>
              {% if pratica.statusName == 'STATUS_COMPLETE' or pratica.statusName == 'STATUS_CANCELLED' %}
                {% if pratica.rispostaOperatore %}
                  <div class="it-list-wrapper mt-4">
                    {{ include('@App/Allegato/parts/_header_attachments.html.twig', {'section_title': 'operatori.scarica_risposta_firmata'}) }}
                    <ul class="it-list">
                      {{ include('@App/Allegato/parts/_line_attachment.html.twig', {'attachment': pratica.rispostaOperatore, 'application': pratica}) }}
                    </ul>
                  </div>
                {% endif %}
              {% endif %}

              {% if pratica.allegatiOperatore|length > 0 %}
                <div class="it-list-wrapper mt-4">
                  {{ include('@App/Allegato/parts/_header_attachments.html.twig', {'section_title': 'Allegati risposta'}) }}
                  <ul class="it-list">
                    {% for allegato in pratica.allegatiOperatore %}
                      {{ include('@App/Allegato/parts/_line_attachment.html.twig', {'attachment': allegato, 'application': pratica}) }}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
{% endif %}
