{% extends 'Default/index.html.twig' %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>Modifica - {{ operatoreUser.fullName }}</h2>
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary mr-1" type="submit" value="Modifica" style="float: left"/>
        <a class="btn btn-100 mr-1" href="{{ path('admin_operatore_index') }}" style="float: left">Torna alla lista</a>
        {{ form_end(edit_form) }}
      </div>
    </div>
  </section>
{% endblock %}
