{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
    <section id="intro" class="container px-4 my-4">
        <div class="row">
            <div class="col-lg-12 px-lg-4 py-lg-2">
                <div class="row list">

                    {% for key, confServizio in parameters %}
                        <div class="col-sm-4">
                            <article class="panel ">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        {% if confServizio.infor_wsUrl is defined %}
                                            <h4>Endpoint: {{ confServizio.infor_wsUrl }}</h4>
                                        {% endif %}
                                        <h4>{{ key }}</h4>
                                        {% if confServizio.arrivo is defined %}
                                            <h5>Arrivo</h5>
                                            {% for kk, conf in confServizio.arrivo %}
                                                <div class="row">{{ kk }} - {{ conf }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if confServizio.risposta is defined %}
                                            <h5>Risposta</h5>
                                            {% for kk, conf in confServizio.risposta %}
                                                <div class="row">{{ kk }} - {{ conf }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

