{% extends '@App/Default/index.html.twig' %}
{% block stylesheets %}
  {{ encore_entry_link_tags('compile') }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/formiojs@latest/dist/formio.full.min.css">
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('compile') }}

  <script src="{{ asset('bundles/app/js/formio-i18n.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>

  <script>
      $(document).ready(function () {
          $('#modal_approve').on('click', function () {
              $('#approva_o_rigetta_esito_0').prop('checked', true);
              $('#modalTitle').html('Approva pratica');
              $('#email_text').show();
          });
          $('#modal_refuse').on('click', function () {
              $('#approva_o_rigetta_esito_1').prop('checked', true);
              $('#modalTitle').html('Rigetta pratica');
              $('#email_text').hide();
          });
      })
  </script>

  <script type='text/javascript'>
      window.onload = function () {
          Formio.createForm(document.getElementById('formio_summary'), $('#formio_summary').data('formserver_url') + '/printable/' + $('#formio_summary').data('form_id'), {
              readOnly: true,
              noAlerts: true,
              language: 'it',
              i18n: formIoI18n
          }).then(function (form) {
              form.submission = {
                  data: $('#formio_summary').data('submission')
              };

              let delay = 3;
              form.formReady.then(() => {
                const disableFileLink = function(){
                  if( delay === 0 ) {
                    $('.formio-component-file a').each(function(){
                      $(this).parent().html($(this).html());
                    });
                  }
                  else {
                    delay--;
                    setTimeout(disableFileLink, 500);
                  }
                };
                disableFileLink();
              });
          });
      };
  </script>
{% endblock %}


{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <div class="chip chip-primary chip-lg">
          <span class="chip-label">{{ pratica.servizio.name }}</span>
        </div>
        <div class="my-2">
          <h3 class="d-inline">{{ pratica.user.fullName }}</h3>
          <h4 class="d-inline">{{ fiscal_code }}</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 px-lg-4 py-lg-2">
        {% if pratica.operatore %}
        {{ include('@App/Operatori/parts/approva_o_rigetta.html.twig') }}
        {% else %}
          {% if pratica.servizio.isProtocolRequired and not pratica.numeroProtocollo %}
            <div class="row mb-5">
              <div class="col-12 d-flex justify-content-center">
                {{ 'operatori.attesa_modulo_protocollato'|trans }}
              </div>
            </div>
          {% else %}
            <div class="row mb-5">
                <div class="col-12 d-flex justify-content-center">
                  <a class="btn btn-primary" href="{{ path('operatori_autoassing_pratica', {'pratica': pratica}) }}">
                    <svg class="icon icon-light" href="#">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-unlocked"></use>
                    </svg>
                    {{ 'operatori.prendi_in_carico_pratica' | trans }}
                  </a>
                </div>
            </div>
          {% endif %
        {% endif %}
        {{ include('@App/Operatori/parts/pratica_summary.html.twig') }}
      </div>
      <div class="col-lg-4 pt-5 pt-lg-2 px-lg-2">
        <div class="row pl-3 mb-5 d-flex justify-content-between">
          <div class="col-auto ">
            <a class="btn btn-outline-secondary"
               href="{{ path('allegati_download_operatore', {'allegato': pratica.moduliCompilati[0]}) }}">
              <svg class="icon icon-sm">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
              </svg>
              {{ 'operatori.scarica' | trans }}
            </a>
          </div>
          <div class="col-auto">
            <a class="btn btn-outline-secondary" href="mailto:{{ pratica.user.emailContatto }}">
              <svg class="icon icon-sm">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
              </svg>
              {{ 'operatori.scrivi_al_cittadino' | trans }}
            </a>
          </div>
        </div>
        <div class="row my-4 pl-4">
          <div class="col-12 pb-5">
            <h6>{{ 'pratica.numero' | trans }}:</h6>
            <code>{{ pratica.id }}</code>
          </div>
          <div class="col-12 pb-5">
            <h6>{{ 'operatori.pratica_correlata' | trans }}</h6>
            <div class="link-list-wrapper multiline">
              <ul class="link-list">
                {% if  pratica_correlata %}
                  <li>
                    <a {% if pratica_correlata.servizio.id in user.serviziAbilitati %}
                      class="list-item" href="{{ path('operatori_show_pratica', {'pratica': pratica_correlata }) }}"
                    {% else %}
                      class="list-item disabled" href="#"
                    {% endif %}>
                      <span>
                        <svg class="icon icon-sm icon-light">
                           <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
                         </svg>
                        {{ pratica_correlata.servizio.name }}
                      </span>
                      <svg class="icon icon-primary icon-right">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                      </svg>
                      <p class="mb-0">
                        {{ 'operatori.inviata_il_alle' | trans({
                          '%data%': pratica_correlata.submissionTime | date('d/m/Y'),
                          '%ore%': pratica_correlata.submissionTime | date('H:i:s')
                        }) }}
                        <br>
                        {{ pratica_correlata.statusName | trans }}
                      </p>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <span class="small font-italic">{{ 'operatori.no_pratica_correlata' | trans }}</span>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="col-12 pb-5">
            <h6>{{ 'pratica.iter' | trans }}</h6>
            {{ include('@App/Operatori/parts/pratica_iter.html.twig') }}
          </div>
          <div class="col-12 pb-5">
            <h6>{{ 'operatori.ultime_pratiche' | trans }}</h6>
            {{ include('@App/Operatori/parts/pratiche_recenti.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

