{% extends '@App/Default/index.html.twig' %}

{% block main_content %}

    <p><a href="{{ path('operatori_index') }}"
          class="btn btn-info btn-xs">{{ 'operatori.torna_alle_pratiche'|trans }}</a></p>

    <div class="row">
        <div class="col-md-7">
            {{ include('AppBundle:Pratiche/parts:pratica_summary.html.twig', {'pratica':pratica, 'user': user}) }}
            <p class="text-center"><a href="#" class="btn btn-info btn-lg btn-lg">{{ 'scarica_modulo_compilato'|trans }}</a></p>
        </div>
        <div class="col-sm-4 col-sm-offset-1 sidebar">
            {% if pratica.statusName != 'STATUS_COMPLETE' and pratica.statusName != 'STATUS_CANCELLED' %}
                <p>
                    <a href="{{ path('operatori_approva_pratica', {'pratica': pratica}) }}"
                       class="btn btn-success btn-block btn-lg">{{ 'operatori.approva'|trans }}</a>
                </p>
                <p>
                    <!--<a href="#" class="btn btn-warning btn-block btn-lg">{{ 'operatori.richiedi_intergrazioni'|trans }}</a>-->
                </p>
                <p>
                    <a href="{{ path('operatori_rifiuta_pratica', {'pratica': pratica}) }}"
                       class="btn btn-danger btn-block btn-lg">{{ 'operatori.rifiuta'|trans }}</a>
                </p>
                <hr />
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well">

                {% for allegato in pratica.moduliCompilati %}
                    <p>
                        <span>{{ allegato.description }}</span>
                        <a href="{{ path('allegati_download_operatore', {'allegato': allegato.id}) }}" class="btn btn-info btn-block btn-lg">{{ 'operatori.scarica_modulo_compilato'|trans }}</a>
                    </p>
                {% endfor %}
                <h4>{{ 'operatori.allegati'|trans }}</h4>
                {% if pratica.allegati|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>{{ 'allegato.nome_file'|trans }}</td>
                            <td>{{ 'allegato.descrizione_file'|trans }}</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for allegato in pratica.allegati %}
                            <tr>
                                <td>{{ allegato.originalFilename }}</td>
                                <td>{{ allegato.description }}</td>
                                <td><a href="{{ path('allegati_download_operatore', {'allegato': allegato.id}) }}"
                                       class="btn btn-xs btn-info">{{ 'allegato.scarica_allegato'|trans }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p><em>{{ 'pratica.nessun_allegato'|trans }}</em></p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <h4>{{ 'operatori.commenti_e_modifiche'|trans }}</h4>

            {{ form(form) }}

            <ul class="list-unstyled">
                {% for commento in pratica.commenti %}
                    <li>
                        <small>{{ commento.createdAt|date("d/m/Y H:i") }}</small>
                        <p><strong>{{ commento.creator }}:</strong> {{ commento.text }}</p>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>


{% endblock %}
