{% extends '@App/Default/index.html.twig' %}
{% block stylesheets %}
  {{ encore_entry_link_tags('compile') }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://unpkg.com/formiojs@latest/dist/formio.full.min.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('compile') }}

  <script src="{{ asset('bundles/app/js/formio-i18n.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
  <script src="//unpkg.com/element-ui/lib/index.js"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>

  {% if feature('feature_application_detail') %}
    <script src="{{ asset('bundles/app/js/components/message_attachments.js') }}"></script>
    <script>
        let vueBundledDataMessage = {
            "attachments": [],
            "upload_url": "{{ path('operatore_allegato_messaggio_upload', {'id': pratica.id }) }}"
        };
        new Vue({
            el: "#vueApp2"
        });
    </script>
  {% endif %}
  {% if outcomeForm.vars.helper.vueApp and pratica.operatore == user %}
      <script src="{{ asset('bundles/app/js/components/' ~ outcomeForm.vars.helper.vueApp ~ '.js') }}"></script>
      <script>
          let vueBundledData = {{ outcomeForm.vars.helper.vueBundledData|raw }};
          new Vue({
              el: "#vueApp"
          });
      </script>
  {% endif %}

  <script>
      $(document).ready(function () {
          $('#modal_approve').on('click', function () {
              $('#outcome_outcome_0').prop('checked', true);
              $('#modalTitle').html('Approva pratica');
              $('#email_text').show();
          });
          $('#modal_refuse').on('click', function () {
              $('#outcome_outcome_1').prop('checked', true);
              $('#modalTitle').html('Rigetta pratica');
              $('#email_text').hide();
          });
      })
  </script>

  <script type='text/javascript'>
      window.onload = function () {
          Formio.createForm(document.getElementById('formio_summary'), $('#formio_summary').data('formserver_url') + '/printable/' + $('#formio_summary').data('form_id'), {
              readOnly: true,
              noAlerts: true,
              language: 'it',
              i18n: formIoI18n
          }).then(function (form) {
              form.submission = {
                  data: $('#formio_summary').data('submission')
              };

              let delay = 3;
              form.formReady.then(() => {
                  const disableFileLink = function () {
                      if (delay === 0) {
                          $('.formio-component-file a').each(function () {
                              $(this).parent().html($(this).html());
                          });
                      } else {
                          delay--;
                          setTimeout(disableFileLink, 500);
                      }
                  };
                  disableFileLink();
              });
          });
      };
  </script>
{% endblock %}


{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <div class="chip chip-primary chip-lg">
          <span class="chip-label">{{ pratica.servizio.name }}</span>
        </div>
        <div class="my-2">
          <h3 class="d-inline">{{ pratica.user.fullName }}</h3>
          <h4 class="d-inline pl-3">
            {{ fiscal_code }}
            {% if pratica.user.idp != "anonymous" %}
              <span data-toggle="tooltip" title="Identità del cittadino verificata">
                <svg class="icon icon-success"><use
                          xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check-circle"></use></svg>
              </span>
            {% endif %}
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 px-lg-4 py-lg-2">
        {% if pratica.operatore %}
          {% if pratica.operatore == user %}
            {{ include('@App/Operatori/parts/approva_o_rigetta.html.twig') }}
          {% else %}
            {{ include('@App/Operatori/parts/riassegna.html.twig') }}
          {% endif %}
        {% else %}
          {% if pratica.status == 1900 %}
            <div class="row mb-5">
              <div class="col-12 d-flex justify-content-center">
                {{ 'operatori.attesa_modulo_compilato'|trans }}
              </div>
            </div>
          {% elseif pratica.status > 1900 and pratica.servizio.isProtocolRequired and not pratica.numeroProtocollo %}
            <div class="row mb-5">
              <div class="col-12 d-flex justify-content-center">
                {{ 'operatori.attesa_modulo_protocollato'|trans }}
              </div>
            </div>
          {% elseif pratica.servizio.isPaymentRequired and pratica.status <= 1510 %}
            <div class="row mb-5">
              <div class="col-12 d-flex justify-content-center">
                {{ 'operatori.attesa_pagamento'|trans }}
              </div>
            </div>
          {% elseif pratica.status == 20000 %}
            <div class="row mb-5">
              <div class="col-12 d-flex justify-content-center">
                {{ 'operatori.pratica_ritirata'|trans({
                  '%data%': pratica.latestStatusChangeTimestamp | date(ocsdc_default_date_format),
                  '%ore%': pratica.latestStatusChangeTimestamp | date('H:i:s')})| raw }}
              </div>
            </div>
          {% else %}
            <div class="row mb-5">
              <div class="col-12 d-flex justify-content-center">
                <a class="btn btn-primary" href="{{ path('operatori_autoassing_pratica', {'pratica': pratica}) }}">
                  <svg class="icon icon-light" href="#">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-unlocked"></use>
                  </svg>
                  {{ 'operatori.prendi_in_carico_pratica' | trans }}
                </a>
              </div>
            </div>
          {% endif %}
        {% endif %}
        {{ include('@App/Operatori/parts/pratica_summary.html.twig') }}
      </div>
      <div class="col-lg-4 pt-5 pt-lg-2 px-lg-2">
        <div class="row pl-4">
          <div class="col-5">
            {% if pratica.moduliCompilati|length > 0 %}
              <a class="btn btn-outline-secondary"
                 href="{{ path('allegati_download_operatore', {'allegato': pratica.moduliCompilati[0]}) }}">
                <svg class="icon icon-sm">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
                </svg>
                {{ 'operatori.scarica' | trans }}
              </a>
            {% else %}
              <button class="btn btn-outline-secondary" disabled>
                <svg class="icon icon-sm">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
                </svg>
                {{ 'operatori.scarica' | trans }}
              </button>
            {% endif %}
          </div>
          <div class="col-7">
            <a class="btn btn-outline-secondary" href="mailto:{{ pratica.user.emailContatto }}">
              <svg class="icon icon-sm">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
              </svg>
              {{ 'operatori.scrivi_al_cittadino' | trans }}
            </a>
          </div>
        </div>
        {% if pratica.operatore and pratica.operatore == user and pratica.isInFinalStates and pratica.servizio.allowReopening %}
          <div class="row my-4 pl-4">
            <div class="col-12">
              <a class="btn btn-warning btn-toolbar" href="{{ path('operatori_show_reopen', {'pratica': pratica}) }}">
                <svg class="icon icon-white icon-sm">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-unlocked"></use>
                </svg>
                {{ 'operatori.riapri_pratica' | trans }}
              </a>
            </div>
          </div>
        {% endif %}

        <div class="row my-4 pl-4">
          {% if pratica.type == 'form_io' %}
            <div class="col-12 pb-3">
              <h6>{{ 'pratica.numero' | trans }}:</h6>
              <code class="text-nowrap">{{ pratica.id }}</code>
            </div>
            <div class="col-12 pb-3">
              <h6>{{ 'pratica.dettaglio.data_ora_presentazione' | trans }}:</h6>
              <span class="text-nowrap">{{ pratica.submissionTime|date(ocsdc_default_date_format) }} {{ 'pratica.dettaglio.alle'|trans }} {{ pratica.submissionTime|date(ocsdc_default_time_format) }}</span>
            </div>
            {% if  pratica.numeroProtocollo %}
              <div class="col-12 pb-3">
                <h6>{{ 'pratica.protocollo' | trans }}:</h6>
                <code class="text-nowrap">{{ pratica.numeroProtocollo }}</code>
              </div>
            {% endif %}
          {% endif %}
          {% if  pratica.operatore %}
            <div class="col-12 pb-3">
              <h6>{{ 'pratica.operatore' | trans }}:</h6>
              <p class="m-0">{{ pratica.operatore.fullName }}</p>
            </div>
          {% endif %}
          {% if applications_in_folder|length > 0 %}
            <div class="col-12 pb-3">
              <h6>{{ 'operatori.fascicolo' | trans }}</h6>
              {{ include('@App/Operatori/parts/fascicolo.html.twig') }}
            </div>
          {% endif %}
          {% if pratiche_recenti|length > 0 %}
            <div class="col-12 pb-3">
              <h6>{{ 'operatori.ultime_pratiche' | trans }}</h6>
              {{ include('@App/Operatori/parts/pratiche_recenti.html.twig') }}
            </div>
          {% endif %}
          <div class="col-12 pb-3">
            <h6>{{ 'pratica.iter' | trans }}</h6>
            {{ include('@App/Operatori/parts/pratica_iter.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

