{% extends '@App/Default/index.html.twig' %}

{% block main_content %}

    <p><a href="{{ path('operatori_index') }}" class="btn btn-info btn-xs">{{ 'torna_alle_pratiche'|trans }}</a></p>


    <table class="table table-striped">
        <thead>
        <tr>
            <td>{{ 'protocollo'|trans }}</td>
            <td>{{ 'richiedente'|trans }}</td>
            <td>{{ 'categoria'|trans }}</td>
            <td>{{ 'data_di_compilazione'|trans }}</td>
            <td>{{ 'stato'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        <tr class="pratica"
            data-pratica="{{ pratica.id }}"
            data-user="{{ pratica.user.id }}"
            data-status="{{ pratica.status }}">

            <td>{{ pratica.numeroProtocollo }}</td>
            <td>{{ pratica.user.fullName }}</td>
            <td>{{ pratica.servizio.name }}</td>
            <td>{{ pratica.creationTime|date("d/m/Y H:i") }}</td>
            <td>{{ pratica.statusName|trans }}</td>
        </tr>
        </tbody>
    </table>

    {% if pratica.statusName != 'STATUS_COMPLETE' and pratica.statusName != 'STATUS_CANCELLED' %}
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('operatori_approva_pratica', {'pratica': pratica}) }}"
                   class="btn btn-success btn-block btn-lg">{{ 'approva'|trans }}</a>
            </div>
            <div class="col-md-4">
                <!--<a href="#" class="btn btn-warning btn-block btn-lg">{{ 'richiedi_intergrazioni'|trans }}</a>-->
            </div>
            <div class="col-md-4">
                <a href="{{ path('operatori_rifiuta_pratica', {'pratica': pratica}) }}"
                   class="btn btn-danger btn-block btn-lg">{{ 'rifiuta'|trans }}</a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <p><a href="#" class="btn btn-info btn-block btn-lg">{{ 'scarica_modulo_compilato'|trans }}</a></p>
                <h4>{{ 'allegati'|trans }}</h4>
                {% if pratica.allegati|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>{{ 'nome_file'|trans }}</td>
                            <td>{{ 'descrizione_file'|trans }}</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for allegato in pratica.allegati %}
                            <tr>
                                <td>{{ allegato.originalFilename }}</td>
                                <td>{{ allegato.description }}</td>
                                <td><a href="{{ path('allegati_download_operatore', {'allegato': allegato.id}) }}"
                                       class="btn btn-xs btn-info">{{ 'scarica_allegato'|trans }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p><em>{{ 'nessun_allegato'|trans }}</em></p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <h4>{{ 'commenti_e_modifiche'|trans }}</h4>
            <ul class="list-unstyled">
                {% for commento in pratica.commenti %}
                    <li>
                        <small>{{ commento.createdAt|date("d/m/Y H:i") }}</small>
                        <p><strong>{{ commento.creator }}:</strong> {{ commento.text }}</p>
                    </li>
                {% endfor %}
            </ul>

            {{ form(form) }}
        </div>
    </div>


{% endblock %}
