{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block main_content %}

  <section id="intro" class="container px-4 my-4">
    <table class="table">
      <tr>
        <th>{{ 'operatori.usage.service_title'|trans }}</th>
        <td>{{ servizi }}</td>
      </tr>
      {% for year, count in pratiche %}
        <th>{{ 'operatori.usage.pratiche_title'|trans }} {{ year }}</th>
        <td>{{ count }}</td>
      {% endfor %}
    </table>
  </section>

{% endblock %}
