{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <section id="intro" class="container px-4 my-4">
        <div class="row">
            <div class="col-lg-12 px-lg-4 py-lg-2">
                <h1>Operatori</h1>
            </div>

            <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
                <div id="no-more-tables">
                    <table class="table table-bordered table-striped table-condensed cf">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Stato</th>
                        <th>Ultima modifica password</th>
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operatoreUser in operatoreUsers %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_operatore_show', { 'id': operatoreUser.id }) }}">{{ operatoreUser.nome }} {{ operatoreUser.getCognome }}</a>
                            </td>
                            <td>{{ operatoreUser.username }}</td>
                            <td>{{ operatoreUser.email }}</td>
                            <td>{{ operatoreUser.enabled }}</td>
                            <td>{% if operatoreUser.lastChangePassword %}{{ operatoreUser.lastChangePassword|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ path('admin_operatore_show', { 'id': operatoreUser.id }) }}">Visualizza</a>
                                <a class="btn btn-warning btn-sm" href="{{ path('admin_operatore_edit', { 'id': operatoreUser.id }) }}">Modifica</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <a class="btn btn-success btn-primary" href="{{ path('admin_operatore_new') }}">Crea nuovo operatore</a>
            </div>
        </div>
    </section>
{% endblock %}
