{% set main = ente.getMetaAsArray('main') %}
{% set topics = ente.getMetaAsArray('topics') %}

<div class="it-header-navbar-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg has-megamenu">
          <button aria-controls="nav10" aria-expanded="false"
                  aria-label="Toggle navigation" class="custom-navbar-toggler"
                  data-target="#nav10" type="button">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
            </svg>
          </button>
          <div class="navbar-collapsable" id="nav10">
            <div class="overlay"></div>
            <div class="close-div sr-only">
              <button class="btn close-menu" type="button">
                <span class="it-close"></span>close
              </button>
            </div>
            <div class="menu-wrapper">
              {% if main %}
                <ul class="navbar-nav">
                  {% for item in main %}
                    <li class="nav-item">
                      <a class="nav-link " href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if topics %}
                <ul class="navbar-nav navbar-secondary">
                  {% for item in topics %}
                    <li class="nav-item">
                      {% if loop.last %}
                        <a class="nav-link " href="{{ item.url }}">
                          <span class="font-weight-bold">{{ item.text }}</span>
                        </a>
                      {% else %}
                        <a class="nav-link " href="{{ item.url }}">{{ item.text }}</a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
