{% extends 'Pratiche/pdf/parts/base_logo.twig' %}

{% block pdf_content %}
  <h1>{{ 'pratica.dettaglio.integrazione_annullata'|trans }}</h1>

  <p>
    <strong>{{ 'pratica.servizio'|trans }}</strong>:{{ pratica.servizio.fullName }}<br>
    <strong>{{ 'pratica.dettaglio.richiedente' | trans }}</strong>: {{ pratica.user.fullName }}<br>
    <strong>{{ 'pratica.numero' | trans }}</strong>: {{ pratica.id }}<br>
    {% if pratica.numeroProtocollo %}
      <strong>{{ 'pratica.protocol_number' | trans }}</strong>: {{ pratica.numeroProtocollo }}
    {% endif %}
  </p>

  {# Richiesta integrazione #}
  {% if richiesta_integrazione.description %}
    <h3>{{ 'operatori.note_richiesta_del_giorno' | trans({
        '%date%': richiesta_integrazione.createdAt | date('d/m/Y')
      })}}</h3>
    {{ richiesta_integrazione.description|raw }}
  {% endif %}

  <h4>{{ 'pratica.dettaglio.integrazione_annullata_da' | trans({'%operator_fullname%': pratica.operatore.fullName}) }}</h4>


{% endblock %}
