<div class="modal" tabindex="-1" role="dialog" id="modalNote" aria-labelledby="modalNoteTitle" data-endpoint-url="{{ path('api_set_notes_for_pratica', {'pratica': pratica.id}) }}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNoteTitle"> {{ 'pratica.appunti_compilazione.titolo'|trans }}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <svg class="icon">
              <use href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
            </svg>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="textareaDescription" class="sr-only">{{ 'pratica.appunti_compilazione.placeholder'|trans }}</label>
            <textarea id="textareaDescription" rows="3" placeholder="{{ 'pratica.appunti_compilazione.placeholder'|trans }}"></textarea>
            <p>{{ 'pratica.appunti_compilazione.sottotitolo'|trans }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">{{ 'close'|trans }}</button>
          <button class="btn btn-primary btn-sm" type="button" id="textareaSaveButton" disabled="">{{ 'salva'|trans }}</button>
        </div>
      </div>
    </div>
</div>
