<article class="card-wrapper card-space">
  <div class="card card-bg card-big rounded shadow">
    <div class="flag-icon"></div>
    <div class="card-body">
      <div class="category-top">
        {% if servizio.topics %}
          <a href="{{ path('category_show', {'slug': servizio.topics.slug}) }}" class="category">
            <span class="category">{{ servizio.topics.name }}</span>
          </a>
        {% endif %}
      </div>
      <h5 class="card-title">{{ servizio.name }}</h5>
      <p class="card-text">{{ servizio.description|abstract }}</p>
      <a class="read-more stretched-link" href="{{ path('servizi_show', {'slug': servizio.slug}) }}">
        <span class="text">Leggi di più</span>
        <svg class="icon">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</article>
