{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
{#  omines/datatables-bundle#}
  <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
  <script>
    $(function () {
      $('#calendars_table').initDataTables({{ datatable_settings(datatable) }}, {
        dom: 'fBrtip',
        searching: true,
        paging: true,
        language_from_cdn: true,
        pagingType: 'simple_numbers',
        initComplete: function () {
          $('#calendars_table thead tr th').each(function (index, element) {
            index += 1;
            $('tr td:nth-child(' + index + ')').attr('data-title', element.innerHTML);
          });

          // Use bootstrap buttons for pagination
          $('a.paginate_button').addClass('btn');
          // Add margin bottom to datatables info
          $('#dt_info').css('margin-bottom', '0.85em')
        }
      }).then(function (dt) {
      })
    });
  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h1>{{ 'calendars.calendars' | trans }}</h1>
      </div>
      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        <div id="no-more-tables" class="table-striped">
          <div id="calendars_table"></div>
        </div>
        <div class="mt-4">
          <a class="btn btn-success btn-primary" href="{{ path('operatori_calendar_new') }}">{{ 'calendars.new' | trans }}</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
