<div>
  <div class="row bg-light mb-4 js-opening_hour-item">
    <h5 class="col-12 p-3 font-weight-bold text-secondary"> {{ 'calendars.opening_hours.opening_hours'  | trans }} </h5>
    <fieldset class="form-group"><legend class="col-form-label">{{ 'calendars.opening_hours.days_of_week' | trans }}</legend>
      <div id="opening_hours">
        <div class="form-check">
          <input type="checkbox" id="opening_hours_0" name="opening_hour" class="form-check-input" value="1" checked="checked">
          <label class="form-check-label" for="opening_hours_0">{{ 'calendars.opening_hours.weeks.week_day_1' | trans }}</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="opening_hours_1" name="opening_hour" class="form-check-input" value="2" checked="checked">
          <label class="form-check-label" for="opening_hours_1">{{ 'calendars.opening_hours.weeks.week_day_2' | trans }}</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="opening_hours_2" name="opening_hour" class="form-check-input" value="3" checked="checked">
          <label class="form-check-label" for="opening_hours_2">{{ 'calendars.opening_hours.weeks.week_day_3' | trans }}</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="opening_hours_3" name="opening_hour" class="form-check-input" value="4" checked="checked">
          <label class="form-check-label" for="opening_hours_3">{{ 'calendars.opening_hours.weeks.week_day_4' | trans }}</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="opening_hours_4" name="opening_hour" class="form-check-input" value="5" checked="checked">
          <label class="form-check-label" for="opening_hours_4">{{ 'calendars.opening_hours.weeks.week_day_5' | trans }}</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="opening_hours_5" name="opening_hour" class="form-check-input" value="6">
          <label class="form-check-label" for="opening_hours_5">{{ 'calendars.opening_hours.weeks.week_day_6' | trans }}</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="opening_hours_6" name="opening_hour" class="form-check-input" value="7">
          <label class="form-check-label" for="opening_hours_6">{{ 'calendars.opening_hours.weeks.week_day_7' | trans }}</label>
        </div>
      </div>
    </fieldset>
    <div class="col-6">
      <div class="form-group">
        <label for="begin_hour">{{ 'calendars.opening_hours.begin_hour' | trans }}</label>
        <input type="time" id="begin_hour" name="begin_hour" class="form-control" value="07:00">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="end_hour">{{ 'calendars.opening_hours.end_hour' | trans }}</label>
        <input type="time" id="end_hour" name="end_hour" class="form-control" value="18:00">
      </div>
    </div>
  </div>

  <div class="d-none">
    <div class="form-group">
      <label class="active" for="end_date">{{ 'calendars.opening_hours.end_date' | trans }}</label>
      <input type="date" id="end_date" name="end_date" class="form-control" value="2024-12-31">
    </div>
    <div class="form-group">
      <label class="active" for="start_date">{{ 'calendars.opening_hours.start_date' | trans }}</label>
      <input type="date" id="start_date" name="start_date" class="form-control" value="2023-02-24">
    </div>
    <div class="form-group">
      <label for="name" style="transition: none 0s ease 0s;" class="active">{{ 'calendars.opening_hours.name' | trans }}</label>
      <input type="text" id="name" name="name" class="form-control" value="Orari">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="is_moderated" name="is_moderated" class="form-check-input" value="1">
        <label class="form-check-label" for="is_moderated">{{ 'calendars.opening_hours.is_moderated' | trans }}</label>
      </div>
    </div>
    <div class="form-group">
      <label for="meeting_queue" style="transition: none 0s ease 0s;" class="active">{{ 'calendars.opening_hours.meeting_queue' | trans }}</label>
      <input type="number" id="meeting_queue" name="meeting_queue" class="form-control" value="1">
    </div>
    <div class="form-group">
      <label for="meeting_minutes" style="transition: none 0s ease 0s;" class="active">{{ 'calendars.opening_hours.meeting_minutes' | trans }}</label>
      <input type="number" id="meeting_minutes" name="meeting_minutes" class="form-control" value="30">
    </div>
    <div class="form-group">
      <label for="interval_minutes" style="transition: none 0s ease 0s;" class="active">{{ 'calendars.opening_hours.interval_minutes' | trans }}</label>
      <input type="number" id="interval_minutes" name="interval_minutes" class="form-control" value="0">
    </div>
  </div>
</div>
