{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.js"></script>
  <script>
$(document).ready(function () {
  const lang = document.documentElement.lang.toString();
  //Default
  let url_language = '//cdn.datatables.net/plug-ins/1.12.1/i18n/it-IT.json';
  if(lang === 'en'){
    url_language = '//cdn.datatables.net/plug-ins/1.12.1/i18n/en-GB.json';
  }else if(lang === 'de'){
    url_language = '//cdn.datatables.net/plug-ins/1.12.1/i18n/de-DE.json';
  }

$('#meetings_table').DataTable( {
    "columnDefs": [{
      "targets": [0],
      "orderData": [0, 1]
    },
    {
      "targets": [1],
      "orderData": [1, 0]
    }],
  language: {
    url: url_language
  },
    dom: 'Bfrtip',
    searching: true,
    paging: true,
    pagingType: 'simple_numbers',
  buttons: {
    dom: {
      button: {
        className: 'btn btn-primary mr-2' //Primary class for all buttons
      }
    },
    buttons: [
      {
        extend: 'excel',
        text: '<i class="fas fa-file-excel"></i><span class="d-none d-xl-inline-block">&nbsp {{ 'meetings.export_excel' | trans }}</span>',
        title: "{{ 'operatori.meetings' | trans }}",
        className: 'btn-primary'
      },
      {
        extend: 'csv',
        text: '<i class="fas fa-file-csv"></i><span class="d-none d-xl-inline-block">&nbsp {{ 'meetings.export_csv' | trans }}</span>',
        title: "{{ 'operatori.meetings' | trans }}",
        className: 'btn-primary'
      },
      {
        extend: 'pdf',
        text: '<i class="fas fa-file-pdf"></i><span class="d-none d-xl-inline-block">&nbsp {{ 'meetings.export_pdf' | trans }}</span>',
        title: "{{ 'operatori.meetings' | trans }}",
        pageSize: 'LEGAL',
        className: 'btn-primary'
      },
      {
        extend: 'print',
        text: '<i class="fas fa-print"></i><span class="d-none d-xl-inline-block">&nbsp {{ 'meetings.print' | trans }}</span>',
        title: "{{ 'operatori.meetings' | trans }}",
        className: 'btn-primary'
      }
    ],
  },
  initComplete: function () {
      $('#hide-dt').show();
    }
  } );

})
</script>
{% endblock %}
  <div class="py-4">
      <div id="hide-dt"  style="display:none">
        <table id="meetings_table" class="table table-striped center" width="100%" style="width: 100%;">
          <thead>
          <tr>
            <th>{{ 'date' | trans }}</th>
            <th>{{ 'schedule' | trans }}</th>
            <th>{{ 'meetings.labels.user' | trans }}</th>
            <th>{{ 'general.email' | trans }}</th>
            <th>{{ 'user.profile.codice_fiscale' | trans }}</th>
            <th>{{ 'pratica.pdf.telefono' | trans }}</th>
            <th>{{ 'general.postponement' | trans }}</th>
            <th>{{ 'servizio.stato' | trans }}</th>
          </tr>
          </thead>
          <tbody>
          {% for t in datatable %}
            <tr>
              <td data-order="{{ t.fromTime | date("U")}}">{{ t.fromTime |date("d/m/Y") }}</td>
              <td>{{ t.fromTime |date('H:i') }} - {{ t.toTime | date('H:i') }}</td>
              <td>{{ t.user.nome }} {{ t.user.cognome }}</td>
              <td><a href="mailto:{{ t.email }}">{{ t.email }}</a></td>
              <td>{{ t.fiscalCode }}</td>
              <td>{{ t.phoneNumber }}</td>
              <td>{{ t.rescheduled }}</td>
              <td>{{ t.getStatusName() | trans }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>


