<html>
<head>
    {{ include('AppBundle:Pratiche/pdf/parts:style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>

{{ include('AppBundle:Pratiche/pdf/parts:base.html.twig', {'pratica':pratica, 'user': user}) }}

<div class="chiede center_title">
    {{ 'pratica.pdf.chiede'|trans() }}
</div>

<div class="richiesta">
    <p>
        {{ 'iscrizione_asilo_nido.pdf.ammissione_nido'|trans() }} <strong>{{ pratica.struttura.name }}</strong>
        {{ 'iscrizione_asilo_nido.pdf.del_bambino'|trans() }} <strong>{{ pratica.bambinoNome }} {{ pratica.bambinoCognome }}</strong>
        {{ 'pratica.pdf.nato_a'|trans() }} {{ pratica.bambinoLuogoNascita }} {{ 'pratica.pdf.nato_il'|trans() }} {{ pratica.bambinoDataNascita|date("d/m/Y") }}
    </p>
    <p>
        {{ 'iscrizione_asilo_nido.pdf.orario'|trans() }} {{ pratica.strutturaOrario }}
    </p>
    <p>
        {{ 'iscrizione_asilo_nido.pdf.periodo_da'|trans() }} {{ pratica.periodoIscrizioneDa|date("d/m/Y") }} {{ 'iscrizione_asilo_nido.pdf.periodo_a'|trans() }} {{ pratica.periodoIscrizioneA|date("d/m/Y") }}
    </p>
</div>

{{ include('AppBundle:Pratiche/pdf/parts:nucleo_familiare.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('AppBundle:Pratiche/pdf/parts:data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}


</body>
</html>
