<div id="pratica-summary">

  {{ include('AppBundle:Pratiche/summary/parts:allegati_operatore.html.twig', {'pratica':pratica, 'user': user}) }}

  {% if pratica.statusName == 'STATUS_PAYMENT_PENDING' %}
    <div class='text-center mt-5'><a href="{{ pratica.paymentData.response.url }}" class='btn btn-lg btn-primary'>Procedi
        con il pagamento sul sito di MyPay</a></div>
    <p class='mt-5'>
      Cliccando sul bottone qui sopra sarai reindirizzato verso l'infrastruttura di MyPay.<br/>
      A pagamento completato sarai riportato a questa pagina, la verifica dell'esito avviene in automatico.
    </p>
  {% elseif pratica.statusName == 'STATUS_PAYMENT_OUTCOME_PENDING' %}
    <div class="alert alert-info">Siamo in attesa dell'esito del pagamento</div>
  {% elseif pratica.status >= constant('STATUS_SUBMITTED', pratica) %}
    {{ include('AppBundle:Pratiche/summary/parts:protocollo.html.twig', {'pratica':pratica, 'user': user}) }}
  {% endif %}

  {% if pratica.status >= constant('STATUS_SUBMITTED', pratica) %}
    <div class="row">
      <div class="col-12">
        <h4 class="mt-3 mb-3">Informazioni presentate</h4>
      </div>
      <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.data_ora_presentazione'|trans }}</strong></div>
      <div
        class="col-12 col-sm-9"> {{ pratica.creationTime|date(ocsdc_default_date_format) }} {{ 'pratica.dettaglio.alle'|trans }} {{ pratica.creationTime|date(ocsdc_default_time_format) }} </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.stato'|trans }}</strong></div>
    <div class="col-12 col-sm-9"> {{ ('pratica.dettaglio.stato_'~pratica.status)|trans }}</div>
  </div>

  {% if pratica.servizio != null %}
    <div class="row">
      <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.servizio'|trans }}</strong></div>
      <div class="col-12 col-sm-9">{{ pratica.servizio.name }}</div>
    </div>
  {% endif %}

  {% if pratica.ente != null %}
    <div class="row">
      <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.ente'|trans }}</strong></div>
      <div class="col-12 col-sm-9"> {{ pratica.ente.name }}</div>
    </div>
  {% endif %}

  {% if pratica.dematerializedForms.flattened is defined %}
    {% for key, value in pratica.dematerializedForms.flattened %}
      {% if key != 'submit' and key != 'update_info' and not value is empty %}
        <div class="row">
          <div class="col-sm-3">
            <strong>{% if pratica.dematerializedForms.schema[key ~ '.label'] is defined %}{{ pratica.dematerializedForms.schema[key ~ '.label'] }}{% endif %}</strong>
          </div>
          <div class="col-sm-9">
            {% if pratica.dematerializedForms.schema[key ~ '.type'] is defined and pratica.dematerializedForms.schema[key ~ '.type'] == 'datetime' %}
              {{ value|date('d-m-Y H:i') }}
            {% elseif pratica.dematerializedForms.schema[key ~ '.type'] is defined and pratica.dematerializedForms.schema[key ~ '.type'] == 'file' %}
              <div class="it-list-wrapper">
                <ul class="it-list">
                  {% for file in value %}
                    <li>
                      {% set download_allegato_path = user.id == pratica.user.id ? 'allegati_download_cpsuser' : 'allegati_download_operatore' %}
                      <a href="{{ path( download_allegato_path, {'allegato': file.data.id}) }}">
                        <svg class="icon">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
                        </svg>
                        <span class="text">{{ file.originalName }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              {{ value }}
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {{ include('AppBundle:Pratiche/summary/parts:payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}

</div>
