<div id="pratica-summary">

    {{ include('AppBundle:Pratiche/summary/parts:allegati_operatore.html.twig', {'pratica':pratica, 'user': user}) }}

    {% if pratica.statusName != 'STATUS_DRAFT' %}
        <div class="row">
            <div class="col-12">
                <h4>Documentazione inoltrata all'Ente</h4>
            </div>
            <div class="col-12 col-sm-3"><strong>{{ 'pratica.protocollo'|trans }}</strong></div>
            <div class="col-12 col-sm-9">
                {% if pratica.numeroProtocollo %}
                    {{ pratica.numeroProtocollo }}
                {% else %}
                    <em>{{ 'pratica.in_attesa_protocollo'|trans }}</em>
                {% endif %}
            </div>
            <div class="col-12">
                {{ include('AppBundle:Pratiche/summary/parts:moduli_compilati.html.twig', {'pratica':pratica, 'user': user}) }}
            </div>
            {% if pratica.numeroProtocollo %}
                <div class="col-12">
                    {{ include('AppBundle:Pratiche/summary/parts:moduli_compilati_protocollati.html.twig', {'pratica':pratica, 'user': user}) }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if pratica.statusName != 'STATUS_DRAFT' %}
        <div class="row">
            <div class="col-12">
                <h4 class="mt-3 mb-3">Informazioni presentate</h4>
            </div>
            <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.data_ora_presentazione'|trans }}</strong></div>
            <div class="col-12 col-sm-9"> {{ pratica.creationTime|date(ocsdc_default_date_format) }} {{ 'pratica.dettaglio.alle'|trans }} {{ pratica.creationTime|date(ocsdc_default_time_format) }} </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.stato'|trans }}</strong></div>
            <div class="col-12 col-sm-9"> {{ ('pratica.dettaglio.stato_'~pratica.status)|trans }}</div>
        </div>
    {% endif %}

    {% if pratica.servizio != null %}
        <div class="row">
            <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.servizio'|trans }}</strong></div>
            <div class="col-12 col-sm-9">{{ pratica.servizio.name }}</div>
        </div>
    {% endif %}

    {% if pratica.ente != null %}
        <div class="row">
            <div class="col-12 col-sm-3"><strong>{{ 'pratica.dettaglio.ente'|trans }}</strong></div>
            <div class="col-12 col-sm-9"> {{ pratica.ente.name }}</div>
        </div>
    {% endif %}

    {% if pratica.dematerializedForms.flattened is defined %}
        {% for key, value in pratica.dematerializedForms.flattened %}
            {% if key != 'submit' and key != 'update_info' and not value is empty %}
                <div class="row">
                    <div class="col-sm-3"><strong>{{ key|trans() }}</strong></div>
                    <div class="col-sm-9">{{ value }}</div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {{ include('AppBundle:Pratiche/summary/parts:payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}

</div>
