<div id="pratica-summary">

  {{ include('@App/Pratiche/summary/parts/allegati_operatore.html.twig', {'pratica':pratica, 'user': user}) }}

  {{ include('@App/Pratiche/summary/parts/base.html.twig', {'pratica':pratica, 'user': user}) }}


  {{ include('@App/Pratiche/summary/parts/payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}


  {# Modulo domanda #}
  {{ include('@App/Pratiche/summary/parts/giscom/modulo_domanda.html.twig', {'pratica':pratica, 'user': user}) }}


  {# Allegati alla domanda #}
  {{ include('@App/Pratiche/summary/parts/giscom/allegati_domanda.html.twig', {'pratica':pratica, 'user': user}) }}

  {# Soggetti #}
  {{ include('@App/Pratiche/summary/parts/giscom/soggetti.html.twig', {'pratica':pratica, 'user': user}) }}


  {# Allegati tecnici #}
  {{ include('@App/Pratiche/summary/parts/giscom/allegati_tecnici.html.twig', {'pratica':pratica, 'user': user}) }}


  {# Vincoli #}
  {{ include('@App/Pratiche/summary/parts/giscom/vincoli.html.twig', {'pratica':pratica, 'user': user}) }}


  {# Integrazioni #}
  {{ include('@App/Pratiche/summary/parts/richieste_integrazioni.html.twig', {'pratica':pratica, 'user': user}) }}


  {# Risposte integrazioni #}
  {{ include('@App/Pratiche/summary/parts/risposte_integrazioni.html.twig', {'pratica':pratica, 'user': user}) }}
</div>
