{% extends '@App/Default/index.html.twig' %}

{% block main_content %}

    <h1>{{ 'user.dashboard.title'|trans }}</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary no-border-radius">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ 'user.dashboard.avvisi_notizie'|trans }}</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled list-news">
                                <li>
                                    <div class="date">
                                        <span class="month">AGO</span>
                                        <span class="day">7</span>
                                        <span class="year">2016</span>
                                    </div>
                                    <a href="#" class="small">Nuovi orari di apertura C.R.M.</a>
                                    <p class="text-faded small">
                                        A partire dal giorno 8 agosto 2016 saranno operativi i nuovi orari dei centri di raccolta materiali.
                                    </p>
                                </li>
                                <li>
                                    <div class="date">
                                        <span class="month">LUG</span>
                                        <span class="day">6</span>
                                        <span class="year">2016</span>
                                    </div>
                                    <a href="#" class="small">Contributo per lo sfalcio di aree private</a>
                                    <p class="text-faded small">
                                        Sono aperti i termini per la presentazione delle domande di contributo per lo sfalcio e il recupero di aree private.
                                    </p>
                                </li>
                                <li>
                                    <div class="date">
                                        <span class="month">GIU</span>
                                        <span class="day">21</span>
                                        <span class="year">2016</span>
                                    </div>
                                    <a href="#" class="small">Benvenuto/a tra noi! Sostegno alle famiglie con bambini nati nel 2016</a>
                                    <p class="text-faded small">
                                        Buono sconto per l'acquisto di pannolini lavabili o biodegradabili oppure per un compattatore di pannolini.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary no-border-radius">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ 'user.dashboard.scadenze'|trans }}</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled list-deadlines">
                                <li><span class="date small">07/09/2016</span><a href="#" class="small">Scadenza contributo sfalcio aree private</a></li>
                                <li><span class="date small">07/09/2016</span><a href="#" class="small">Contributo casa</a></li>
                                <li><span class="date small">03/10/2016</span><a href="#" class="small">Scadenza IMIS</a></li>
                                <li><span class="date small">21/11/2016</span><a href="#" class="small">Scadenza corso Cuoco</a></li>
                                <li><span class="date small">07/04/2017</span><a href="#" class="small">Dichiarazione dei redditi</a></li>
                                <li><span class="date small">17/06/2017</span><a href="#" class="small">Scadenza Bando Mobilità volontaria</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary no-border-radius">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ 'user.dashboard.servizi_primo_piano'|trans }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                {% for servizio in servizi %}
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        {%  if servizio.area %}
                                            <span>{{ servizio.area }}</span><br/>
                                        {% endif %}
                                        <a href="{{ path('servizi_show', {'slug': servizio.slug}) }}" class="min-h-90">{{ servizio.name }}</a>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-default btn-sm" href="{{ path('servizi_show', {'slug': servizio.slug}) }}">
                                                    <i class="fa fa-arrow-circle-o-right"></i>
                                                     {{ 'servizio.vai'|trans() }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a href="{{ path('servizi_list') }}" class="small">{{ 'nav.servizi'|trans() }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Le mie ultime pratiche <a href="{{ path('pratiche') }}" class="small">(vedi tutte)</a></h3>
                    {% if pratiche|length > 0 %}
                        <div id="no-more-tables">
                            <table class="table table-bordered table-striped table-condensed cf">
                                <thead class="cf">
                                <tr>
                                    <td>{{ 'pratica.protocollo'|trans }}</td>
                                    <td>{{ 'pratica.categoria'|trans }}</td>
                                    <td>{{ 'pratica.data_di_compilazione'|trans }}</td>
                                    <td>{{ 'pratica.stato'|trans }}</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pratica in pratiche %}
                                    <tr class="pratica"
                                        data-pratica="{{ pratica.id }}"
                                        data-user="{{ pratica.user.id }}"
                                        data-status="{{ pratica.status }}">

                                        <td data-title="{{ 'pratica.protocollo'|trans }}">{% if pratica.numeroProtocollo %} {{ pratica.numeroProtocollo }}{% else %} - {% endif %}</td>
                                        <td data-title="{{ 'pratica.categoria'|trans }}">Scuola</td>
                                        <td data-title="{{ 'pratica.data_di_compilazione'|trans }}">{{ pratica.creationTime|date("d/m/Y H:i") }}</td>
                                        <td data-title="{{ 'pratica.stato'|trans }}">{{ pratica.statusName|trans }}</td>
                                        <td data-title="">
                                            <a href="{{ path('pratiche_show', {'pratica': pratica}) }}"
                                               class="btn btn-primary btn-xs">{{ 'user.dashboard.vai_al_dettaglio'|trans }}</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert"><i class="fa fa-info" aria-hidden="true"></i> {{ 'pratica.empty'|trans() }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary no-border-radius">
                <div class="panel-heading">
                    <h3 class="panel-title">Hai bisogno di aiuto?<span class="pull-right"><i class="fa fa-comments-o" aria-hidden="true"></i></span></h3>
                </div>
                <div class="panel-body">

                    <div class="row bootstrap snippets">
                        <div class="col-md-12">
                            <!-- DIRECT CHAT PRIMARY -->
                            <div class="box box-primary direct-chat direct-chat-primary">
                                {#<div class="box-header with-border">
                                    <h3 class="box-title">Direct Chat</h3>

                                    <div class="box-tools pull-right">
                                        <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="3 New Messages">3</span>
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                            <i class="fa fa-comments"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>#}
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <!-- Conversations are loaded here -->
                                    <div class="direct-chat-messages">

                                        <!-- Message to the right -->
                                        <div class="direct-chat-msg right">
                                            <div class="direct-chat-info clearfix">
                                                <span class="direct-chat-name pull-right">Tu</span>
                                                <span class="direct-chat-timestamp pull-left">23 Ago 2016 14:15</span>
                                            </div>
                                            <!-- /.direct-chat-info -->
                                            <img class="direct-chat-img" src="http://bootdey.com/img/Content/user_2.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                            <div class="direct-chat-text">
                                                Buongiorno, vorrei un chiarimento sul servizio di iscrizione al nido.<br />
                                                Sto presentando la richiesta di iscrizione. Posso presentare l' ICEF del 2014?
                                            </div>
                                            <!-- /.direct-chat-text -->
                                        </div>

                                        <div class="direct-chat-msg">
                                            <div class="direct-chat-info clearfix">
                                                <span class="direct-chat-name pull-left">URP</span>
                                                <span class="direct-chat-timestamp pull-right">23 Ago 2016 14:30</span>
                                            </div>
                                            <!-- /.direct-chat-info -->
                                            <img class="direct-chat-img" src="http://bootdey.com/img/Content/user_1.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                            <div class="direct-chat-text">
                                                Buongiorno, l'ICEF da presentare per l'iscrizione al nido è quello dell'anno 2015/2016
                                            </div>
                                            <!-- /.direct-chat-text -->
                                        </div>
                                        <!-- /.direct-chat-msg -->

                                    </div>
                                    <!--/.direct-chat-messages-->
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <form action="#" method="post">
                                        <div class="input-group">
                                            <input type="text" name="message" placeholder="Componi..." class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-primary btn-flat">Invia</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.box-footer-->
                            </div>
                            <!--/.direct-chat -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
