{% extends '@App/Default/index.html.twig' %}

{# @var user \AppBundle\Entity\CPSUser #}
{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('jquery-ui-only-calendar') }}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <script>
      function copia_residenza() {
          event.preventDefault()
          $('#form_sdc_indirizzo_domicilio').val($('#form_sdc_indirizzo_residenza').val());
          $('#form_sdc_cap_domicilio').val($('#form_sdc_cap_residenza').val());
          $('#form_sdc_citta_domicilio').val($('#form_sdc_citta_residenza').val());
          $('#form_sdc_provincia_domicilio').val($('#form_sdc_provincia_residenza').val());
          $('[data-id=form_sdc_provincia_domicilio]').attr('title', $('#form_sdc_provincia_residenza').val());
          $('[data-id=form_sdc_provincia_domicilio]').find(".filter-option-inner-inner").html($('#form_sdc_provincia_residenza option:selected').text())
          $('#form_sdc_stato_domicilio').val($('#form_sdc_stato_residenza').val());
      }

      function copia_domicilio(event) {
          event.preventDefault()
          $('#form_sdc_indirizzo_residenza').val($('#form_sdc_indirizzo_domicilio').val());
          $('#form_sdc_cap_residenza').val($('#form_sdc_cap_domicilio').val());
          $('#form_sdc_citta_residenza').val($('#form_sdc_citta_domicilio').val());
          $('#form_sdc_provincia_residenza').val($('#form_sdc_provincia_domicilio').val());
          $('[data-id=form_sdc_provincia_residenza]').attr('title', $('#form_sdc_provincia_domicilio').val());
          $('[data-id=form_sdc_provincia_residenza]').find(".filter-option-inner-inner").html($('#form_sdc_provincia_domicilio option:selected').text())
          $('#form_sdc_stato_residenza').val($('#form_sdc_stato_domicilio').val());
      }
  </script>
{% endblock %}
{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h1>{{ 'user.profile.title'|trans }} {{ user.fullName }}</h1>
        <div class="row">
          <div class="col-12 alert alert-info mt-3 mb-5">
            <em>{{ 'user.profile.contatti_per_sdc_guida'|trans() }}</em>
          </div>
        </div>
        <h4>{{ 'user.profile.dati_personali'|trans() }}</h4>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="nome">{{ 'user.profile.nome'|trans() }}</label>
              <input type="text" class="form-control" id="nome" value="{{ user.nome }}"
                     readonly="readonly"/>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="cognome">{{ 'user.profile.cognome'|trans() }}</label>
              <input type="text" class="form-control" id="cognome" value="{{ user.cognome }}"
                     readonly="readonly"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="sesso">{{ 'user.profile.sesso'|trans() }}</label>
              <input type="text" class="form-control" id="sesso" required="required"
                     value="{{ user.sesso }}"
                     readonly="readonly"/>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="cf">{{ 'user.profile.codice_fiscale'|trans() }}</label>
              <input type="text" class="form-control" id="cf" required="required"
                     value="{{ user.codiceFiscale }}"
                     readonly="readonly">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="data_nascita">{{ 'user.profile.data_nascita'|trans() }}</label>
              <input type="text" class="form-control" id="data_nascita" required="required"
                     value="{{ user.dataNascita | date('d/m/Y') }}"
                     readonly="readonly">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="luogo_nascita">{{ 'user.profile.luogo_nascita'|trans() }}</label>
              <input type="text" class="form-control" id="luogo_nascita" required="required"
                     value="{{ user.municipalityFromCode(user.luogoNascita) }}"
                     readonly="readonly">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="bootstrap-select-wrapper">
              {{ form_row(form.provincia_nascita, {'label': 'user.profile.provincia'|trans()}) }}
            </div>
          </div>
          <div class="col-6">
            {{ form_row(form.stato_nascita, {'label': 'user.profile.stato'|trans()}) }}
          </div>
        </div>

        <h4>{{ 'user.profile.carta_identita'|trans() }}</h4>
        <div>
          {{ form_start(form) }}
          <div class="row">
            <div class="col-6">
              {{ form_row(form.id_card.numero, {'label': 'user.profile.numero'|trans()}) }}
            </div>
            <div class="col-6">
              {{ form_row(form.id_card.comune_rilascio, {'label': 'user.profile.comune_rilascio'|trans()}) }}
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              {{ form_row(form.id_card.data_rilascio, {'label': 'user.profile.data_rilascio'|trans()}) }}
            </div>
            <div class="col-6">
              {{ form_row(form.id_card.data_scadenza, {'label': 'user.profile.data_scadenza'|trans()}) }}
            </div>
          </div>

          <h4>{{ 'user.profile.contatti_per_sdc'|trans() }}</h4>
          <div class="row">
            <div class="col-12 col-md-4">
              {{ form_row(form.email_contatto, {'required': true, 'label': 'user.profile.email'|trans()}) }}
            </div>
            <div class="col-12 col-md-4">
              {{ form_row(form.cellulare_contatto, {'required': true, 'label': 'user.profile.cellulare'|trans()}) }}
            </div>
            <div class="col-12 col-md-4">
              {{ form_row(form.cellulare_contatto, {'required': true, 'label': 'user.profile.telefono'|trans()}) }}
            </div>
          </div>


          <div class="row">
            <div class="col">
              <h4 class="mt-3 mb-5">{{ 'user.profile.residenza'|trans() }}</h4>
            </div>
            <div class="col">
              <a class="float-right btn btn-outline-primary" href="#" onclick="copia_domicilio(event)">{{ 'user.profile.copia_domicilio'|trans() }}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              {{ form_row(form.sdc_indirizzo_residenza, {'label': 'user.profile.indirizzo'|trans()}) }}
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              {{ form_row(form.sdc_cap_residenza, {'label': 'user.profile.cap'|trans()}) }}
            </div>
            <div class="col-6">
              {{ form_row(form.sdc_citta_residenza, {label: 'user.profile.citta'|trans()}) }}
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="bootstrap-select-wrapper">
                {{ form_row(form.sdc_provincia_residenza, {'label': 'user.profile.provincia'|trans()}) }}
              </div>
            </div>
            <div class="col-6">
              {{ form_row(form.sdc_stato_residenza, {'label': 'user.profile.stato'|trans()}) }}
            </div>
          </div>


          <div class="row">
            <div class="col">
              <h4 class="mt-3 mb-5">{{ 'user.profile.domicilio'|trans() }}</h4>
            </div>
            <div class="col">
              <button class="float-right btn btn-outline-primary" onclick="copia_residenza(event)">{{ 'user.profile.copia_residenza'|trans() }}
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              {{ form_row(form.sdc_indirizzo_domicilio, {'label': 'user.profile.indirizzo'|trans()}) }}
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              {{ form_row(form.sdc_cap_domicilio, {'label': 'user.profile.cap'|trans()}) }}
            </div>
            <div class="col-6">
              {{ form_row(form.sdc_citta_domicilio, {'label':'user.profile.citta'|trans()}) }}
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="bootstrap-select-wrapper">
                {{ form_row(form.sdc_provincia_domicilio, {'label': 'user.profile.provincia'|trans()}) }}
              </div>
            </div>
            <div class="col-6">
              {{ form_row(form.sdc_stato_domicilio, {'label': 'user.profile.stato'|trans()}) }}
            </div>
          </div>

          {{ form_row(form.save) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </section>


{% endblock %}
