{% extends '@App/Default/index.html.twig' %}

{# @var user \AppBundle\Entity\CPSUser #}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h1>{{ 'user.profile.title'|trans }} {{ user.fullName }}</h1>

        <ul class="nav nav-tabs mt-5" id="profileTab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">{{ 'user.profile.contatti_per_sdc'|trans() }}</a></li>
          <li class="nav-item"><a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">{{ 'user.profile.info_da_sdc'|trans() }}</a></li>
        </ul>

        <div class="tab-content" id="profileTabContent">
          <div class="tab-pane p-4 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            {{ form_start(form) }}
            <h4>{{ 'user.profile.contatti_per_sdc'|trans() }}</h4>
            <div class="row">
              <div class="col-12 alert alert-info mt-3 mb-5">
                <em>{{ 'user.profile.contatti_per_sdc_guida'|trans() }}</em>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                {{ form_row(form.email_contatto, {'required': true, 'label': 'user.profile.email'|trans()}) }}
              </div>
              <div class="col-12 col-md-6">
                {{ form_row(form.cellulare_contatto, {'required': true, 'label': 'user.profile.cellulare'|trans()}) }}
              </div>
            </div><!-- /.row -->

            <div class="row">
              <div class="col-12 col-md-6">
                {{ form_row(form.data_nascita, {'required': true, 'label': 'user.profile.data_nascita'|trans()}) }}
              </div>
              <div class="col-12 col-md-6">
                {{ form_row(form.luogo_nascita, {'required': true, 'label': 'user.profile.luogo_nascita'|trans()}) }}
              </div>
            </div><!-- /.row -->

            <h4 class="mt-3 mb-5">Residenza</h4>
            <div class="row">
              <div class="col-12">
                {{ form_row(form.sdc_indirizzo_residenza, {'label': 'user.profile.indirizzo'|trans()}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {{ form_row(form.sdc_cap_residenza, {'label': 'user.profile.cap'|trans()}) }}
              </div>
              <div class="col-6">
                {{ form_row(form.sdc_citta_residenza, {label: 'user.profile.citta'|trans()}) }}
              </div>
            </div><!-- /.row -->
            <div class="row">
              <div class="col-6">
                <div class="bootstrap-select-wrapper">
                  {{ form_row(form.sdc_provincia_residenza, {'label': 'user.profile.provincia'|trans()}) }}
                </div>
              </div>
              <div class="col-6">
                {{ form_row(form.sdc_stato_residenza, {'label': 'user.profile.stato'|trans()}) }}
              </div>
            </div><!-- /.row -->

            <h4 class="mb-5">Domicilio</h4>
            <div class="row">
              <div class="col-12">
                {{ form_row(form.sdc_indirizzo_domicilio, {'label': 'user.profile.indirizzo'|trans()}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {{ form_row(form.sdc_cap_domicilio, {'label': 'user.profile.cap'|trans()}) }}
              </div>
              <div class="col-6">
                {{ form_row(form.sdc_citta_domicilio, {'label':'user.profile.citta'|trans()}) }}
              </div>
            </div><!-- /.row -->
            <div class="row">
              <div class="col-6">
                <div class="bootstrap-select-wrapper">
                  {{ form_row(form.sdc_provincia_domicilio, {'label': 'user.profile.provincia'|trans()}) }}
                </div>
              </div>
              <div class="col-6">
                {{ form_row(form.sdc_stato_domicilio, {'label': 'user.profile.stato'|trans()}) }}
              </div>
            </div><!-- /.row -->

            {{ form_row(form.save) }}

            {{ form_end(form) }}
          </div>
          <div class="tab-pane p-4 fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <h4>{{ 'user.profile.info_da_sdc'|trans() }}</h4>
            <div class="row">
              <div class="col-12 alert alert-info mt-3 mb-5">
                <em>{{ 'user.profile.dati_da_cps_guida'|trans() }}</em>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="nome">{{ 'user.profile.nome'|trans() }}</label>
                  <input type="text" class="form-control" id="nome" value="{{ user.nome }}"
                         readonly="readonly"/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="cognome">{{ 'user.profile.cognome'|trans() }}</label>
                  <input type="text" class="form-control" id="cognome" value="{{ user.cognome }}"
                         readonly="readonly"/>
                </div>
              </div>
            </div><!-- /.row -->

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="sesso">{{ 'user.profile.sesso'|trans() }}</label>
                  <input type="text" class="form-control" id="sesso" required="required"
                         value="{{ user.sesso }}"
                         readonly="readonly"/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="cf">{{ 'user.profile.codice_fiscale'|trans() }}</label>
                  <input type="text" class="form-control" id="cf" required="required"
                         value="{{ user.codiceFiscale }}"
                         readonly="readonly">
                </div>
              </div>
            </div><!-- /.row -->

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="telefono">{{ 'user.profile.telefono'|trans() }}</label>
                  <input type="text" class="form-control" id="telefono" required="required"
                         value="{{ user.telefono }}"
                         readonly="readonly"/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="email">{{ 'user.profile.email'|trans() }}</label>
                  {% if not user.cpsEmail is empty  %}
                    <input type="email" class="form-control" id="email" required="required"
                           value="{{ user.cpsEmail }}"
                           readonly="readonly">
                  {% elseif not user.cpsEmailPersonale is empty %}
                    <input type="email" class="form-control" id="email" required="required"
                           value="{{ user.cpsEmailPersonale }}"
                           readonly="readonly">
                  {% else %}
                    <input type="email" class="form-control" id="email" required="required"
                           value=""
                           readonly="readonly">
                  {% endif %}
                </div>
              </div>
            </div><!-- /.row -->
{# # datadinascita e luogodinascita non sono raddoppiati
   # vengono perciò modificati quando si modificano i valori nella scheda contatti
   # si decide di non visualizzarli per non creare confusione

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>{{ 'user.profile.data_nascita'|trans() }}</label>
                  <input type="text" class="form-control" id="gg" placeholder="GG"
                         value="{% if user.dataNascita %}{{ user.dataNascita|date('U')|date('d/m/Y') }}{% endif %}"
                         readonly="readonly"/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="email">{{ 'user.profile.luogo_nascita'|trans() }}</label>
                  <input type="email" class="form-control" id="email" required="required"
                         value="{{ user.luogoNascita }}"
                         readonly="readonly">
                </div>
              </div>
            </div><!-- /.row -->
#}
            {% if user.cpsIndirizzoResidenza != null %}
              <h4 class="mb-5">Residenza</h4>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="indirizzo">{{ 'user.profile.indirizzo'|trans() }}</label>
                    <input type="text" class="form-control" value="{{ user.cpsIndirizzoResidenza }}"
                           readonly="readonly"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="cap">{{ 'user.profile.cap'|trans() }}</label>
                    <input type="text" class="form-control" value="{{ user.cpsCapResidenza }}"
                           readonly="readonly"/>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="citta">{{ 'user.profile.citta'|trans() }}</label>
                    <input type="text" class="form-control" value="{{ user.cpsCittaResidenza }}"
                           readonly="readonly"/>
                  </div>
                </div>
              </div><!-- /.row -->
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="provincia">{{ 'user.profile.provincia'|trans() }}</label>
                    <input type="text" class="form-control" value="{{ user.cpsProvinciaResidenza }}"
                           readonly="readonly"/>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="stato">{{ 'user.profile.stato'|trans() }}</label>
                    <input type="text" class="form-control" value="{{ user.cpsStatoResidenza }}"
                           readonly="readonly"/>
                  </div>
                </div>
              </div><!-- /.row -->
            {% endif %}

            {% if user.cpsIndirizzoDomicilio != null %}
              <h4>Domicilio</h4>
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label for="indirizzo">{{ 'user.profile.indirizzo'|trans() }}</label>
                        <input type="text" class="form-control" value="{{ user.cpsIndirizzoDomicilio }}"
                               readonly="readonly"/>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="cap">{{ 'user.profile.cap'|trans() }}</label>
                        <input type="text" class="form-control" value="{{ user.cpsCapDomicilio }}"
                               readonly="readonly"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="citta">{{ 'user.profile.citta'|trans() }}</label>
                    <input type="text" class="form-control" value="{{ user.cpsCittaDomicilio }}"
                           readonly="readonly"/>
                  </div>
                </div>
              </div><!-- /.row -->
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="provincia">{{ 'user.profile.provincia'|trans() }}</label>
                    <input type="text" class="form-control" value="{{ user.cpsProvinciaDomicilio }}"
                           readonly="readonly"/>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="stato">{{ 'user.profile.stato'|trans() }}</label>
                    <input type="text" class="form-control" value="{{ user.cpsIndirizzoDomicilio }}"
                           readonly="readonly"/>
                  </div>
                </div>
              </div><!-- /.row -->
            {% endif %}
          </div>

        </div>

      </div>
    </div>
  </section>


{% endblock %}
