{% extends '@App/Default/index.html.twig' %}


{% block stylesheets %}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {

            function addComponenteForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');
                var index = $collectionHolder.data('index');
                var newForm = prototype.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }

            function addDeleteLink($li) {
                var $removeFormA = $('<a href="#">Elimina</a>');
                $li.append($removeFormA);
                $removeFormA.on('click', function(e) {
                    e.preventDefault();
                    $li.remove();
                });
            }

            function setupAddAndRemoveLinks($collectionHolder, $newLinkLi) {
                $collectionHolder.find('li').each(function () {
                    addDeleteLink($(this));
                });
                $collectionHolder.append($newLinkLi);
                $collectionHolder.data('index', $collectionHolder.find(':input').length);
            }

        {% if form.nucleo_familiare is defined %}
            var $addComponenteNucleoFamiliare = $('<a href="#" class="add_componente_nucleo_familiare">Aggiungi</a>');
            var $newLinkLi = $('<li></li>').append($addComponenteNucleoFamiliare);
            var $collectionHolder = $('ul.nucleo_familiare');

            $addComponenteNucleoFamiliare.on('click', function(e) {
                e.preventDefault();
                addComponenteForm($collectionHolder, $newLinkLi);
            });
            setupAddAndRemoveLinks($collectionHolder, $newLinkLi);
        {% elseif form.allegati is defined %}
            var $addAllegato = $('<a href="#" class="add_allegato">Aggiungi</a>');
            var $newLinkLi = $('<li></li>').append($addAllegato);
            var $collectionHolder = $('ul.allegati');

            $addAllegato.on('click', function (e) {
                e.preventDefault();
                addComponenteForm($collectionHolder, $newLinkLi);
            });
            setupAddAndRemoveLinks($collectionHolder, $newLinkLi);
        {% endif %}

        });
    </script>
{% endblock %}

{% block main_content %}
    <div>
    Steps:
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
</div>

{{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form.vars.helper.descriptionText|raw }}
    </div>

    <div>
        {{ form.vars.helper.guideText|raw }}
    </div>


    {% if form.nucleo_familiare is defined %}
    <ul class="nucleo_familiare" data-prototype="{{ form_widget(form.nucleo_familiare.vars.prototype)|e('html_attr') }}">
        {% for componente in form.nucleo_familiare %}
            <li>{{ form_row(componente) }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    {% if form.allegati is defined %}
        <ul class="allegati" data-prototype="{{ form_widget(form.allegati.vars.prototype)|e('html_attr') }}">
            {% for allegato in form.allegati %}
                <li>{{ form_row(allegato) }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if  flow.getCurrentStepNumber() == flow.getLastStepNumber() %}
        @todo stampare form.data
    {% endif %}

    {{ form_rest(form) }}

    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
{{ form_end(form) }}


{% endblock %}
