{% extends '@App/Default/index.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  {{ encore_entry_link_tags('compile') }}
  <link rel="stylesheet" href="https://unpkg.com/element-ui@1.4.13/lib/theme-default/index.css">
  <style>
    .callout .body p {
      font-family: "Titillium Web", Geneva, Tahoma, sans-serif !important;
    }
  </style>
{% endblock %}

{% block javascripts %}
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
  <script src="//unpkg.com/element-ui@1.4.13/lib/index.js"></script>
  {{ encore_entry_script_tags('compile') }}
  {% if form.vars.helper.vueApp %}
    <script src="{{ asset('bundles/app/js/components/' ~ form.vars.helper.vueApp ~ '.js') }}"></script>
    <script>
      let vueBundledData = {{ form.vars.helper.vueBundledData|raw }};
      new Vue({
        el: "#vueApp"
      });
    </script>
  {% endif %}
  <script>
    new Vue({
      el: "#compilationNotes",
      data: {
        compilationNotes: null,
        endpointUrl: '{% if endpoint_prefix is defined %}/{{ endpoint_prefix }}{% endif %}/api/v1.0/user/{{ form.vars.data.id }}/notes'
      },
      created: function () {
        var self = this;
        axios.get(this.endpointUrl)
          .then(function (res) {
            if (res.data) {
              self.compilationNotes = res.data;
            }
          })
      },
      methods: {
        onSave: function () {
          axios.post(this.endpointUrl, this.compilationNotes)
        }
      }
    })
  </script>
{% endblock %}

{% block main_content %}
  {% form_theme form ':form:ocsdc_form_style.html.twig' %}

  <section class="container {{ form.vars.id }}">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        {% if pratica.statusName == 'STATUS_DRAFT_FOR_INTEGRATION' %}
          <h1>{{ 'pratica.integrazione_pratica'|trans({'%name%':pratica.servizio.name}) }}</h1>
          <small>{{ 'pratica.integrazione_pratica_description'|trans() }}</small>
          {% if pratica.haUnaRichiestaDiIntegrazioneAttiva and pratica.getRichiestaDiIntegrazioneAttiva is not null %}
            {% set download_allegato_path = user.id == pratica.user.id ? 'allegati_download_cpsuser' : 'allegati_download_operatore' %}
            <div class="alert alert-warning">
              {{ pratica.getRichiestaDiIntegrazioneAttiva.description }}
              (
              <small>
                <a
                  href="{{ path( download_allegato_path, {'allegato': pratica.getRichiestaDiIntegrazioneAttiva.id}) }}">{{ 'allegato.scarica_allegato_richiesta_integrazione'|trans }}</a>
              </small>
              )
            </div>
          {% endif %}
        {% else %}
          <h1>{{ pratica.servizio.name }}</h1>
        {% endif %}
      </div>
    </div>

    {% if pratica.servizio.legacy %}
      <div class="row">
        <div class="col-lg-12 px-lg-4">
          <h4 class="mb-5">
            {{ 'pratica.passo_uno_di_tanti'|trans({'%current%':flow.getCurrentStepNumber(),'%total%':flow.stepCount}) }}
            -
            {% if form.vars.helper.stepTitle|length > 0 %}
              {{ form.vars.helper.stepTitle }}
            {% else %}
              {{ flow.currentStepLabel()|trans }}
            {% endif %}
          </h4>
        </div>
      </div>
    {% endif %}

    <div class="row hidden-xs">
      <div class="col-md-12 mt-4 mb-4">
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-lg-8 px-lg-4">
        {{ form_start(form, {'action': path('pratiche_compila', {'pratica': pratica.id }) } ) }}
        <div class="step-{{ flow.getCurrentStepNumber() }}">
          {{ form_errors(form) }}

            {% if form.vars.helper.descriptionText|length > 0 and not (pratica.statusName == 'STATUS_PAYMENT_PENDING' and form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType != 'mypay') %}
              {{ form.vars.helper.descriptionText|raw }}
            {% endif %}

          {% set currentStep = flow.steps[flow.getCurrentStepNumber() - 1] %}

          {% if currentStep.formType == "AppBundle\\Form\\Base\\SummaryType" %}
            <p>{{ 'steps.common.conferma.payment_help_text_top' | trans }}</p>
            {{ include('@App/Pratiche/parts/pratica_summary.html.twig', {'pratica':form.vars.data, 'user': user}) }}
          {% elseif  flow.getCurrentStepNumber() == flow.getLastStepNumber() %}
            <p><b>{{ 'steps.common.conferma.help_text_top'|trans }}</b></p>
            {{ include('@App/Pratiche/parts/pratica_summary.html.twig', {'pratica':form.vars.data, 'user': user}) }}
          {% endif %}
          {{ form_rest(form) }}

          <div id="vueApp">
            {% if form.vars.helper.vueApp %}
            <{{ form.vars.helper.vueApp }}></{{ form.vars.helper.vueApp }}>
            {% endif %}
          </div>
        </div>

      {% if pratica.statusName == 'STATUS_PAYMENT_PENDING' and form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType != 'mypay' %}
        <div class="mt-5">
          <div class="spinner-container">
            <div class="d-flex justify-content-center flex-column align-items-center">
              <p class="mb-3"><h4 class="status"></h4></p>
              <div class="progress-spinner progress-spinner-double">
                <div class="progress-spinner-inner"></div>
                <div class="progress-spinner-inner"></div>
                <span class="sr-only">{{ 'loading'|trans() }}</span>
              </div>
            </div>
          </div>
          <div class="d-none actions-container" data-api="{{ path('application_api_payment_get', {'id': pratica.id}) }}">
            <div class="row">
              <div class="col-12 col-md-8 mb-2 mb-md-4">
                <h1 class="page-title">Scegli la modalità di pagamento</h1>
                <div class="page-desc ">
                  <p>Puoi gestire i tuoi pagamenti in modo semplice e immediato, verifica le
                    opzioni disponibili e scegli quelle più adatte alle tue esigenze.
                  </p>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <!--start card-->
                <div class="card-wrapper card-space">
                  <div class="card card-bg no-after">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-3 h-80">
                        <span class="h3 mb-0">
                          <a href="#sezione-online" data-attribute="forward" class="text-forward">Paga online</a>
                        </span>
                        <img src="{{ asset('bundles/app/images/pictograms/notifica.svg')}}"
                             alt="Icona Sui servizi di pagamento online" class="h-40" />
                      </div>
                      <p>
                        Usa la tua carta di credito o debito e paga il tuo servizio velocemente online in pochi passi.
                      </p>
                      <div class="it-card-footer">
                        <a href="#" class="btn btn-primary btn-sm online_payment_begin" role="button"
                           aria-pressed="true">{{ 'pratica.payment.paga_online'|trans() }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end card-->
              </div>
              <div class="col-12 col-md-6">
                <!--start card-->
                <div class="card-wrapper card-space">
                  <div class="card card-bg no-after">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-3 h-80">
                        <span class="h3 mb-0"><a href="#sezione-offline" data-attribute="forward" class="text-forward">Paga sul territorio</a></span>
                        <img src="{{ asset('bundles/app/images/pictograms/posteitaliane.svg') }}"
                             alt="Icona In ufficio postale" class="h-40">
                      </div>
                      <p >Potrai pagare successivamente il servizio richiesto, scaricando il modulo PDF
                        tramite il pulsante sottostante.</p>
                      <div class="it-card-footer">
                        <a href="#" class="btn btn-primary btn-sm offline_payment" role="button" aria-pressed="true"
                           download>{{ 'pratica.payment.paga_offline'|trans() }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end card-->
              </div>
              <div class="col-12 mb-5">
                <div class="card-wrapper card-space">
                  <div class="card card-bg no-after">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline">
                        <span class="h3 card-title">Paga con App IO</span>
                        <img class="ml-auto" src="{{ asset('bundles/app/images/app-logo-appio.svg') }}"
                             alt="Logo App IO"></div>
                      <div class="d-flex flex-column">
                        <ul class="list-unstyled mb-3 mb-md-5">
                          <li class="list-item">
                            <svg class="icon icon-success icon-sm mr-2">
                              <use href="/bootstrap-italia/dist/svg/sprite.svg#it-check-circle"></use>
                            </svg>
                            Usa i metodi di pagamento salvati nel tuo Portafoglio
                          </li>
                          <li class="list-item my-2">
                            <svg class="icon icon-success icon-sm mr-2">
                              <use href="/bootstrap-italia/dist/svg/sprite.svg#it-check-circle"></use>
                            </svg>
                            Scegli il gestore della transazione (PSP) a te più conveniente
                          </li>
                          <li class="list-item">
                            <svg class="icon icon-success icon-sm mr-2">
                              <use href="/bootstrap-italia/dist/svg/sprite.svg#it-check-circle"></use>
                            </svg>
                            Conserva le ricevute in un unico posto
                          </li>
                        </ul>
                        <div class="mt-auto">
                          <a role="button" href="https://io.italia.it" title="Scarica l'app"
                             class="btn btn-sm btn-primary px-5 mr-md-2 mb-2 d-block d-md-inline">Scarica l'app</a>
                          <a role="button" href="#" title="Guarda il video"
                             class="btn btn-sm btn-outline-primary px-5 mb-2 mb-md-0 d-block d-md-inline"
                             data-toggle="modal" data-target="#modalCenter">Guarda il video</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12" id="sezione-online">
                <h3 class="heading-border-bottom pb-2 my-md-5" id="paga-online">Paga online</h3>
                <div class="row my-3 my-md-5 img-64">
                  <div class="d-lg-flex align-items-stretch flex-wrap">
                    <div class="col-6 with-border by-4">
                      <div class="h-100 d-flex flex-column">
                        <div>
                          <div>
                            <div class="top-icon mb-3">
                              <img src="{{ asset('bundles/app/images/pictograms/comune.svg') }}"
                                   alt="Icona Sul sito del tuo Ente Creditore">
                            </div>
                            <h5>Sul sito del tuo Ente Creditore</h5>
                            <div><p>Segui i passaggi richiesti dall’Ente e completa il pagamento tramite pagoPA.
                                <strong>Potrai scegliere il gestore della transazione (PSP) a te più
                                  conveniente</strong>.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 with-border by-4">
                      <div class="h-100 d-flex flex-column">
                        <div>
                          <div>
                            <div class="top-icon mb-3">
                              <img src="{{ asset('bundles/app/images/pictograms/computer.svg') }}"
                                   alt="Icona Sul tuo servizio di home banking">
                            </div>
                            <h5>Sul tuo servizio di home banking</h5>
                            <div><p>Accedi al portale della tua banca, cerca nel menu pagoPA e paga con il tuo conto
                                corrente.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 with-border by-4">
                      <div class="h-100 d-flex flex-column">
                        <div>
                          <div>
                            <div class="top-icon mb-3">
                              <img src="{{ asset('bundles/app/images/pictograms/telefono.svg') }}"
                                   alt="Icona Sulla tua app di pagamenti">
                            </div>
                            <h5>Sulla tua app di pagamenti</h5>
                            <div>
                              <p>Apri la tua app di pagamenti preferita, cerca nel menu pagoPA e inquadra il codice QR del tuo avviso.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 by-4">
                      <div class="h-100 d-flex flex-column">
                        <div>
                          <div>
                            <div class="top-icon mb-3">
                              <img src="{{ asset('bundles/app/images/pictograms/notifica.svg') }}"
                                   alt="Icona Sui servizi di pagamento online">
                            </div>
                            <h5>Sui servizi di pagamento online</h5>
                            <div><p>pagoPA è integrato anche nei principali servizi di pagamento online, che puoi
                                utilizzare anche se non sei loro cliente.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12" id="sezione-offline">
                <h3 class="heading-border-bottom pb-2 my-md-5" id="paga-sul-territorio">Paga sul territorio</h3>
                <div class="my-3 my-md-5 img-64">
                  <div class="d-lg-flex align-items-stretch flex-wrap ">
                    <div class="col-12 col-sm-6 by-4">
                      <div class="h-100 d-flex flex-column">
                        <div>
                          <div>
                            <div class="top-icon mb-3">
                              <img src="{{ asset('bundles/app/images/pictograms/banca.svg') }}" alt="Icona In banca">
                            </div>
                            <h5>In banca</h5>
                            <div><p>Presso le filiali aderenti o gli sportelli ATM abilitati.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 with-border by-4">
                      <div class="h-100 d-flex flex-column">
                        <div>
                          <div>
                            <div class="top-icon mb-3">
                              <img src="{{ asset('bundles/app/images/pictograms/posteitaliane.svg') }}"
                                   alt="Icona In ufficio postale">
                            </div>
                            <h5>In ufficio postale</h5>
                            <div><p>Utilizzando indifferentemente il codice QR pagoPA o il bollettino postale PA.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 with-border by-4">
                      <div class="h-100 d-flex flex-column">
                        <div>
                          <div>
                            <div class="top-icon mb-3">
                              <img src="{{ asset('bundles/app/images/pictograms/negozio.svg') }}"
                                   alt="Icona Presso gli esercenti convenzionati">
                            </div>
                            <h5>Presso gli esercenti convenzionati</h5>
                            <div><p>Cerca il logo pagoPA nei bar, edicole, farmacie, ricevitorie, supermercati e
                                tabaccherie convenzionati.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 by-4">
                      <div class="h-100 d-flex flex-column">
                        <div>
                          <div>
                            <div class="top-icon mb-3">
                              <img src="{{ asset('bundles/app/images/pictograms/lettera.svg') }}"
                                   alt="Icona Presso i punti di posta privata">
                            </div>
                            <h5>Presso i punti di posta privata</h5>
                            <div><p>Puoi pagare anche nelle agenzie che offrono servizi postali sul territorio.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="alert alert-danger alert-error d-none" role="alert"></div>
          <!-- Modal -->
          <div class="modal fade" tabindex="-1" role="dialog" id="modalCenter" aria-labelledby="modalCenterTitle">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="video-wrapper-icon">
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <svg class="icon icon-lg">
                      <use href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
                    </svg>
                  </button>
                </div>
                <div class="modal-body p-0">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" title="Video YouTube"
                            src="https://www.youtube.com/embed/RaHmGbBOP84" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if currentStep.formType == "AppBundle\\Form\\FormIO\\FormIORenderType" %}
        <div id="formio"
             class="editable formio-front"
             data-locale="{{ app.request.locale }}"
             data-formserver_url="{{ formserver_url }}"
             data-form_id="{{ pratica.servizio.formIoId }}"
             data-form_validate="{{ path( 'formio_validate', {'servizio': pratica.servizio.slug}) }}">
        </div>
      {% endif %}

      <div id="formio-custom-errors" class="alert alert-danger alert-dismissible" style="display: none" role="alert"
           auto-close="5000">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if form.vars.id != 'pratica_payment_gateway' or pratica.servizio.isLegacy or (form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType == 'bollo') and pratica.statusName != 'STATUS_PAYMENT_PENDING' %}
        <div class="mt-5">
          {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
        </div>
      {% endif %}

      {{ form_end(form) }}
    </div>

    <div class="col-lg-4 pt-5 pt-lg-2">
      {% if form.vars.helper.guideText|length > 0 %}
        <div class="callout">
          <div class="callout-title">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
            </svg>
            {{ 'pratica.guida_utente'|trans }}
          </div>
          <div class="body">
            <p>{{ form.vars.helper.guideText|raw }}</p>
          </div>
        </div>
      {% endif %}

      {% if is_granted('ROLE_USER') %}
        <div class="d-none" id="save-draft-container">
          <button id="save-draft" class="btn btn-outline-primary w-100"
                  data-save-draft-url="{{ path('pratiche_draft', {'pratica': pratica}) }}">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'buttons.draft'|trans }}
          </button>
          <small
            class="save-draft-info w-100 mt-1 text-center text-info {% if pratica.dematerializedForms is not defined or pratica.dematerializedForms|length <= 0 %}d-none{% endif %}"><i
              class="fa fa-clock-o" aria-hidden="true"></i> {{ 'buttons.last_save'|trans }}
            <span>{{ pratica.updatedAt|date('U')|time_ago }}</span></small>
        </div>
      {% endif %}

      {# Info compilazione specificate nel servizio #}
      {{ include('@App/Pratiche/parts/compilation_info.html.twig') }}

      {# Note compilazione per utente #}
      {{ include('@App/Pratiche/parts/user_compilation_notes.html.twig') }}

    </div>
    </div>
  </section>

  {# Modal di conferma #}
  {{ include('@App/Pratiche/parts/confirm_modal.html.twig') }}

{% endblock %}

