{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ pratica.servizio.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                {{ include('AppBundle:Pratiche/parts:pratica_summary.html.twig', {'pratica':pratica}) }}
            </div>


            <div class="col-md-4 col-md-offset-1 sidebar">
                <h3>Iter pratica</h3>
                <div class="panel no-border-radius">
                    <div class="panel-body">
                        <ul class="progress-indicator stepped stacked nocenter">
                            {% for timestamp, changes in pratica.storicoStati %}
                                <li class="completed info">
                                    <a href="#">
                                        <span class="bubble"></span>
                                        <span class="stacked-text">
                                        <span class="fa fa-calendar"></span>
                                            {{ timestamp|date('d/M/y H:i') }}
                                            {% for change in changes[0] %}
                                                {% if change %}
                                                    {% set message = 'pratica.dettaglio.stato_'~change %}
                                                    <span class="subdued"><em> {{ message| trans }} </em></span>
                                                {% endif %}
                                            {% endfor %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {% if pratica.statusName == 'STATUS_DRAFT' and user.id == pratica.user.id %}
                <h3>Azioni</h3>
                <div class="list-group">
                    {% if pratica.statusName == 'STATUS_DRAFT' and user.id == pratica.user.id %}
                        <a class="list-group-item" data-action="edit_draft" href="{{ path('pratiche_compila', {'pratica': pratica.id, 'instance': pratica.instanceId, 'step': pratica.lastCompiledStep}) }}">
                            <i class="fa fa-arrow-circle-o-right"></i>
                            {{ 'pratica.vai_alla_pratica'|trans }}
                        </a>
                    {% endif %}
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock %}
