{% extends '@App/Default/index.html.twig' %}
{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if feature('feature_analytics') %}
    <script src="{{ asset('bundles/app/js/pages/analytics/analytics.js') }}"></script>
  {% endif %}
{% endblock %}

{% block main_content %}
  <section class="container-fluid px-4 my-4">
        <app-analytics data-config="{{ analytics_config }}"></app-analytics>
        {% if not feature('feature_analytics') %}
          <h3>{{ 'analytics.not_enabled' | trans }}</h3>
        {% endif %}
  </section>
{% endblock %}
