{% extends '::base.html.twig' %}

{% block title %}Stanza del cittadino{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}

    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/ita-bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/jasny-bootstrap.min.css') }}"/>#}

{% endblock %}

{% block header %}
    {#<header id="header">
        <div id="header-top" class="container-fluid clearfix">
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
                    <div id="header-top-left" class="clearfix hidden-xs">
                        <a href="{{ header_top.link }}">{{ header_top.title }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-inside" class="container-fluid clearfix">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div id="logo">
                                <a href="{{ path('home') }}" title="Home" rel="home">
                                    <img class="img-responsive pull-right" src="{{ asset('bundles/app/images/logo-stanza.png') }}" alt="{{ 'title'|trans }}" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div id="site-name">
                                <h1 style="margin-bottom: 0">
                                    <a href="{{ path('home') }}" title="Home" style="color: #000">
                                        {{ 'title'|trans }}
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>#}

    <header class="it-header-wrapper it-header-sticky">
        <div class="it-header-slim-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="it-header-slim-wrapper-content">
                            <a class="d-lg-block navbar-brand" href="#">Nome della Regione</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="it-nav-wrapper">
            <div class="it-header-center-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="it-header-center-content-wrapper">
                                <div class="it-brand-wrapper">
                                    <a href="{{ path('home') }}">
                                        <img class="icon" src="{{ asset('bundles/app/images/logo-stanza.png') }}"
                                             alt="{{ 'title'|trans }}"/>
                                        <div class="it-brand-text">
                                            <h2 class="no_toc">{{ 'title'|trans }}</h2>
                                        </div>
                                    </a>
                                </div>
                                <div class="it-right-zone">
                                    <div class="it-socials d-none d-md-flex"></div>
                                    <div class="it-search-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



{% endblock %}

{% block content_container %}
    <main>
        <div class="container my-4">
            <div class="card-wrapper card-column">
            {% for ente in enti %}
                {#<div class="col-md-8 col-md-offset-2">
                    <article class="panel panel-default servizio">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-2">
                                    <img class="img-responsive"
                                         src="{{ asset('bundles/app/images/logo-' ~ ente.slug ~ '.png') }}"
                                         alt="{{ 'title'|trans }}" style="max-height: 76px"/>
                                </div>
                                <div class="col-xs-10">
                                    <h4><a href="/{{ ente.slug }}">{{ ente.name }}</a></h4>
                                    <p>Entra nella stanza del cittadino del {{ ente.name }}</p>
                                </div>
                            </div>

                        </div>
                    </article>
                </div>#}
                <div class="card card-teaser rounded shadow">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/{{ ente.slug }}">{{ ente.name }}</a>
                        </h4>
                        <div class="card-text">
                            <p>Entra nella stanza del cittadino del {{ ente.name }}</p>
                        </div>
                    </div>
                    <div class="avatar size-xl">
                        <img src="{{ asset('bundles/app/images/logo-' ~ ente.slug ~ '.png') }}" alt="{{ 'title'|trans }}">
                    </div>
                </div>
            {% endfor %}

        </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}


    {{ encore_entry_script_tags('app') }}



    <!-- !Javascript - at the bottom for fast page loading -->
    {#<script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jasny-bootstrap.min.js') }}"></script>
    <script>
        $(document).ready(function($) {

            var $wrap = $(window),
                    $header = $("#header"),
                    headerHeight = $header.outerHeight(),
                    headerTopHeight = $("#header-top").outerHeight(),
                    headerInsideHeight = $("#header-inside").outerHeight();

            $wrap.on('scroll', function(e) {
                if ($wrap.scrollTop() > headerTopHeight + headerInsideHeight
                        && $wrap.width() > 200
                ) {
                    $header.addClass("header-fixed");
                } else {
                    $header.removeClass("header-fixed");
                }
            });
            $('.has_tooltip').tooltip();
        });
    </script>#}
{% endblock %}
