{% extends '@App/Default/index.html.twig' %}
{% block main_content %}
{{ title|trans() }} {% if user %}{{ user.fullName }}{% endif %}

{% if msg is defined %}
    <div class="alert alert-{{ msg.type }}" role="alert">{{ msg.text|trans() }}</div>
{% endif %}


{% for pratica in pratiche %}
    <div class="pratica" data-user="{{ pratica.user.id }}" data-status="{{ pratica.status }}">
        <a href="{{ path('pratiche_compila', {'pratica': pratica.id}) }}">{{ pratica.servizio.name }}</a>
    </div>
{% endfor %}

{% endblock %}
