{% extends ':default:index.html.twig' %}
{% block main_content %}
{{ 'lista_pratiche'|trans() }} {% if user %}{{ user.fullName }}{% endif %}

{% for pratica in pratiche %}
    <div class="pratica" data-user="{{ pratica.user.id }}" data-status="{{ pratica.status }}">{{ pratica.name }}</div>
{% endfor %}

{% endblock %}
