{% extends 'AppBundle:Default:index.html.twig' %}
{% block main_content %}

    {% if user != null %}{{ user.fullName }}{%  endif %}

    {% set route = app.request.attributes.get('_route') %}
    {% if app.request.attributes.has('_forwarded') %}
        {% set route = app.request.attributes.get('_forwarded').get('_route') %}
    {% endif %}
    {% set route = route|replace({ ('list'): 'show' }) %}

    {% if (servizi_pending|length > 0) %}
        <h2>{{ 'servizi_pending'|trans() }}</h2>
        <ul class="sticky">
            {% for servizio in servizi_pending %}
                <li class="servizio">
                    <a href="{{ path(route, {'slug': servizio.slug}) }}">{{ servizio.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>{{ 'esplora_i_servizi'|trans() }}</h2>
    <ul class="list">
        {% for servizio in servizi %}
            {% if servizio not in servizi_pending %}
                <li class="servizio">
                    <a href="{{ path(route, {'slug': servizio.slug}) }}">{{ servizio.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{#
<div class="row">
    <div class="col-md-4">
        <p>Note</p>
        <div class="panel no-border-radius">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lectus sed tellus consequat, sit amet lacinia dolor ullamcorper.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>Note</p>
        <div class="panel no-border-radius">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lectus sed tellus consequat, sit amet lacinia dolor ullamcorper.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>Note</p>
        <div class="panel no-border-radius">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lectus sed tellus consequat, sit amet lacinia dolor ullamcorper.</p>
            </div>
        </div>
    </div>
</div>#}
